<a class='embed-link' ng-click='clickEmbed()' style='cursor: pointer; color: inherit;'>
	{{text || space.prompt}}
	<span class="overlay">
		<img src="<%= asset_path 'ps_logo.png' %>" alt="logo" class='logo'>
		<span class="count">
			{{space.conversations_count}}
		</span>
	</span>
</a>