<div ui-if='app.alerts.length > 0' class="container">
	<div class="row">
		<div class="span12">
			<alert ng-repeat="alert in app.alerts" type="alert.type" close="app.closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>