<div class="container center" ng-class='{opacity0: !app.show.footer}'>
	<div class="row">
		<div class="span12">
			<a href="/about">about</a>
			&middot;
			<a href="/terms">terms</a>
			&middot;
			<a href="/privacy">privacy</a>
			&middot;
			<a href="/jobs">jobs</a>
			&middot;
			Positve Space &copy; {{app.year}}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<p style='color:#ddd;'>slow down and have a conversation</p>
		</div>
	</div>
</div>
