<!-- <div class="container-fluid" ng-class='{opacity0: !app.show.footer, opacity4: !app.loggedIn() && app.show.footer, "opacity-full-hover": !app.loggedIn()}'>
	<div class="row">
		<div class="span12 faded">
			<a href="/about" class='muted'>about</a>
			&middot;
			<a href="/terms" class='muted'>terms</a>
			&middot;
			<a href="/privacy" class='muted'>privacy</a>
			&middot;
			<a href="/jobs" class='muted'>jobs</a>
			&middot;
			<a href="/contact" class='muted'>contact</a>
			&middot;
			<a href="https://www.facebook.com/positivespaceny" target="_blank" class='muted font14'><i class="icon-facebook"></i></a>
			&middot;
			<a href="https://twitter.com/positivespaceny" target="_blank" class='muted font14'><i class="icon-twitter"></i></a>
			&middot;
			Positve Space &copy; {{app.year}}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<p style='color:#ddd;'>slow down and have a conversation</p>
		</div>
	</div>
</div> -->

<a href='#' class='watermark' ng-show='app.show.footer && !app.loggedIn()' ng-click='app.clickPoweredBy()'>
	<div class='powered-by'>powered by</div>
	<div class='positive-space'>Positive Space</div>
	<!-- <div class='learn-more'>Learn more</div> -->
</a>

