<div class="container-fluid opacity-full-hover" ng-class='{opacity0: !app.show.footer, opacity5: app.show.footer}'>
	<div class="row">
		<div class="span12 faded">
			<a href="/purpose" class='muted'>purpose</a>
			&middot;
			<!-- <a href="" class='muted hidden-phone' onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">feedback &middot;</a> -->
			<a href="/terms" class='muted'>terms</a>
			&middot;
			<a href="/privacy" class='muted'>privacy</a>
			&middot;
			<a href="/jobs" class='muted'>jobs</a>
			&middot;
			<a href="/contact" class='muted'>contact</a>
			&middot;
			<a href="" class='muted' ng-click="app.openUserVoice()">feedback</a>
			&middot;
			<a href="https://www.facebook.com/positivespaceny" target="_blank" class='muted font14'><i class="icon-facebook"></i></a>
			&middot;
			<a href="https://twitter.com/positivespaceny" target="_blank" class='muted font14'><i class="icon-twitter"></i></a>
			&middot;
			<a href="https://plus.google.com/u/0/113053261118413468238" target="_blank" class='muted font14'><i class="icon-google-plus"></i></a>
			&middot;
			Made with love in NYC
			&middot;
			Positive Space &copy; {{app.year}}
		</div>
	</div>
</div>

<div class="watermark-wrap" ng-class="{'hidden-phone': (app.show.footer && app.loggedIn()), hidden: (!app.show.footer || !app.loggedIn())}">
	<div class="iceberg">
		<div class="row-fluid" ng-repeat="magnetism in app.currentUser.magnetisms">
			<div class="span12">
				<h5>{{magnetism.inc > 0 && '+'+magnetism.inc || magnetism.inc}} <small>for</small> {{magnetism.reason}} <small>{{magnetism.created_at | date:'MMM d'}}</small></h5>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 center">
				<small><a href="/purpose">Learn about magnetism</a></small>
			</div>
		</div>
	</div>
	<a href='/{{app.currentUser.slug}}' class='watermark'>
		<h4 tooltip="my&nbsp;magnetism">
			{{app.currentUser.magnetism}}
			<i class="icon-magnet"></i>
		</h4>
	</a>
</div>

<div class="watermark-wrap" ng-class="{'hidden-phone': (app.show.footer && !app.loggedIn()), hidden: (!app.show.footer || app.loggedIn())}" ng-click='app.clickPoweredBy()'>
	<a href='' class='watermark'>
		<div class='powered-by'>powered&nbsp;by</div>
		<br/>
		<div class='positive-space'>Positive&nbsp;Space</div>
		<!-- <div class='learn-more'>learn&nbsp;more</div> -->
	</a>
</div>

