<div class="container center" ng-show='app.show.footer'>
	<div class="row">
		<div class="span12">
			<br/>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<a href="/about">about</a>
			&middot;
			<a href="/terms">terms</a>
			&middot;
			<a href="/privacy">privacy</a>
			&middot;
			PositveSpace &copy; {{app.year}}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<br/>
		</div>
	</div>
</div>
