<div class="navbar-inner" ng-class='{opacity0: !app.show.header}'>
	<div class="container">

		<ul class="nav user-nav pull-right" ng-hide='app.loggedIn()'>
			<li>
				<a href="/login">Log in</a>
			</li>
		</ul>

		<ul class="nav user-nav pull-right" ng-show='app.loggedIn()'>
			<li>
				<a href="/{{app.currentUser.username}}">
					{{app.currentUser.username}}
				</a>
			</li>
			<li>
				<a href="/inbox">
					<i ng-show='app.loggedIn()' class='icon-inbox'></i>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle">
					<i class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/settings">
							settings
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#" ng-click='app.logout()'>
							logout
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<a href="/" class="brand">
			<img src="<%= asset_path('+_inset.png') %>" alt='Positive Space' title='Positive Space' class='inset'>
			<img src="<%= asset_path('+_.png') %>" alt='Positive Space' title='Positive Space' class='colored'>
		</a>
	</div>
</div>
