<div class="navbar-inner" ng-class='{opacity0: !app.show.header}'>
	<div class="container">

		<ul class="nav user-nav pull-right opacity2 opacity-full-hover" ng-hide='app.loggedIn()'>
			<li>
				<a href="/login" tooltip='enter' tooltip-placement='bottom'>
					<i class="icon-signin"></i>
				</a>
			</li>
		</ul>

		<ul class="nav user-nav pull-right" ng-show='app.loggedIn()'>
			<li>
				<a href="/{{app.currentUser.username}}" tooltip='{{app.currentUser.username}}' tooltip-placement='bottom'>
					<img ng-src="{{app.currentUser.avatar.big_thumb_url}}" alt='{{app.currentUser.username}}' class='img-circle img-border avatar'>
				</a>
			</li>
			<li>
				<a href="/conversations" tooltip='conversations' tooltip-placement='bottom'>
					<i class='icon-envelope-alt'></i>
					<div ng-show="app.anyMessages()" class='count'>{{app.currentUser.ready_conversations_count}}</div>
				</a>
			</li>
			<!-- <li>
				<a href="#" tooltip='leave' tooltip-placement='bottom' ng-click='app.logout()'>
					<i class="icon-signout"></i>
				</a>
			</li> -->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle">
					<i class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/settings">
							<i class="icon-cogs faded prs"></i> settings
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#" ng-click='app.logout()'>
							<i class="icon-signout faded prs"></i> log out
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<a href="/" class="brand" ng-class='{"logged-in": app.loggedIn()}'>
			<img src="/assets/+_inset.png" alt='Positive Space' class='inset'>
			<img src="/assets/+_.png" alt='Positive Space' class='colored'>
		</a>
	</div>
</div>
