<div class="navbar-inner" ng-show='app.show.header'>
	<div class="container">
		<ul class="nav user-nav pull-right">
			<li>
				<a href="/login">Log in</a>
			</li>
		</ul>
		<a href="/home" class="brand">+ _____</a>
	</div>
</div>
