<div class="navbar-inner" ng-class='{opacity0: !app.show.header}' ng-show='app.show.header'>
	<div class="container primary-nav">

		<ul class="nav user-nav pull-right">

			<li class="hidden-phone prm">
				<ps-search hoverable='true' form-class='pts' input-class='input-xlarge opacity5 opacity-full-hover'></ps-search>
			</li>

			<li class='opacity5 opacity-full-hover' ng-hide='app.loggedIn()'>
				<a href="/login">
					Log in
					<!-- <i class="icon-signin"></i> -->
				</a>
			</li>

			<li ng-show='app.loggedIn()'>
				<a href="/{{app.currentUser.slug}}" title="{{app.currentUser.username | possessive}} space">
					<img ng-src="{{app.currentUser.avatar.big_thumb_url}}" alt='{{app.currentUser.username}}' class='img-circle img-border avatar'>
				</a>
			</li>
			<li ng-show='app.loggedIn()'>
				<a href="/conversations" title='{{app.currentUser.username | possessive}}  conversations'>
					<i class='icon-envelope-alt'></i>
					<div ng-show="app.anyMessages()" class='count'>{{app.currentUser.ready_conversations_count}}</div>
				</a>
			</li>
			<li class="dropdown" ng-show='app.loggedIn()'>
				<a href="#" class="dropdown-toggle">
					<i class="icon-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/{{app.currentUser.slug}}/edit">
							<i class="icon-pencil prs"></i> Edit profile
						</a>
					</li>
					<li>
						<a href="/settings">
							<i class="icon-cogs prs"></i> Settings
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#" ng-click='app.logout()'>
							<i class="icon-signout prs"></i> Log out
						</a>
					</li>
				</ul>
			</li>

			<!-- <li class='brand-dropdown-toggle' ng-class="{'hidden-desktop': !app.show.headerDropdownToggle}">
				<a href="#" ng-click="app.show.headerDropdown = !app.show.headerDropdown">
					<i class="icon-reorder font20 color-blue"></i>
				</a>
			</li> -->
		</ul>

		<div class="brand-dropdown" ng-class='{open: app.show.headerDropdown}'>
			<a href="#" ng-click='app.randomSpace()'  class="brand" ng-class='{"logged-in": app.loggedIn()}'>
				<img src="<%= asset_path('ps_logo_inset@2x.png') %>" alt='Positive Space' class='inset'>
				<img src="<%= asset_path('ps_logo@2x.png') %>" alt='Positive Space' class='colored'>
			</a>

			<!-- <div class="brand-dropdown-menu">
				<div ng-hide='app.loggedIn()' style='height: 45px;'></div>
				<a href="/register" class="color-blue font18" ng-hide='app.loggedIn()'>
					Sign up
				</a>
				<a href="/{{app.currentUser.slug}}" ui-scrollfix="50" class='profile' ng-show='app.loggedIn()' title="{{app.currentUser.username | possessive}} space">
					<img ng-src="{{app.currentUser.avatar.big_thumb_url}}" alt='{{app.currentUser.username}}' class='img-circle img-border avatar'>
				</a>
				<a href="/conversations" ui-scrollfix="50" class='inbox' ng-show='app.loggedIn()' title='{{app.currentUser.username | possessive}}  conversations'>
					<i class='icon-envelope-alt'></i>
					<div ng-show="app.anyMessages()" class='count'>{{app.currentUser.ready_conversations_count}}</div>
				</a>
				<a href="/settings" class='muted' ng-show='app.loggedIn()' title='settings'>
					<i class="icon-cog"></i>
				</a>
				<a href="#" ng-click='app.logout()' class='muted' ng-show='app.loggedIn()'>log out</a>
			</div> -->
		</div>

		<!-- <ul class="nav center" ng-show='app.loggedIn()'>
			<li>
				<a href="#" ng-click='app.randomSpace()' title='click to see a new space'>
					<i class="icon-random"></i>
				</a>
			</li>
		</ul> -->
	</div>

	<ps-search form-class='pts container visible-phone' input-class='span12 opacity5 opacity-full-hover' hide-label='true'></ps-search>

</div>
