*.rbc
*.rdb
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/spec/fixtures/stock_photos/
**.orig
rerun.txt
pickle-email-*.html
/public/uploads/*
/config/database.yml
/public/uploads/photo/*
*.DS_Store
