<div id='inbox' class="container">

	<br/>
	<div class="row">
		<div class="offset4 span4">
			<h3 class='center'>1. Continue the conversation?</h3>
		</div>
	</div>
	<div class="row">
		<div class="offset4 span4">
			<div class="btn-group" style='width: 100%'>
				<button type="button" class="btn btn-inverse" style='width: 50%' ng-click='endConvo()'>End Conversation</button>
				<button type="button" class="btn btn-success" style='width: 50%' ng-click='continueConvo()'>Continue Conversation</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="offset4 span4">
			<div class="message" ng-repeat="message in messages">
				<hr/>
				{{message.body}}
			</div>
		</div>
	</div>

</div>
