<div id='inbox' class="container">

	<div ng-show='currentMsg.id' class="row pbl">
		<div class="span-mobile center">
			<a href="#" ng-click='currentMsg={}' class="btn btn-link pull-left">
				<i class="icon-angle-left"></i>
				BACK
			</a>
		</div>
	</div>

	<div ng-hide='currentMsg.id' class="row">
		<div class="span-mobile center">
			<div class="row-fluid" ng-repeat="conversation in conversations">
				<div class="span12">
					<a href="#" class='unfancy-link' ng-click='selectConversation(conversation)'>
						<div class="row-fluid">
							<div class="span12">
								<small class='pull-right'>{{conversation.created_at | date:"MMMM d, yyyy"}}</small>
								<i class="icon-circle color-green pull-left" ng-hide="conversation.last_message_from_id == app.currentUser.id" tooltip="Reply now!"></i>
								<i class="icon-time color-yellow pull-left" ng-show="conversation.last_message_from_id == app.currentUser.id" tooltip="Wait for a reply."></i>
							</div>
						</div>
						<!-- <div class="row-fluid">
							<div class="span12">
								<small>{{conversation.prompt}}</small>
							</div>
						</div> -->
						<div class="row-fluid">
							<div class="span12">
								<img ng-src="{{conversation.from.avatar.thumb_url}}" alt="{{conversation.from.name}}" class="img-circle img-border img-mini">
								<img ng-src="{{conversation.to.avatar.thumb_url}}" alt="{{conversation.to.name}}" class="img-circle img-border" tooltip="{{conversation.prompt}}">
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<small ng-hide='conversation.from.id == app.currentUser.id'>from</small>
								<small ng-hide='conversation.to.id == app.currentUser.id'>to</small>
								<span ng-hide='conversation.from.id == app.currentUser.id'>{{conversation.from.name}}</span>
								<span ng-hide='conversation.to.id == app.currentUser.id'>{{conversation.to.name}}</span>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<p class='lead'>{{conversation.last_message_body}}</p>
							</div>
						</div>
						<hr/>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div ng-show='currentMsg.id' class="row">
		<div class="span-mobile center">
			<div class="row-fluid">
				<div class="span12">
					<small class='pull-right'>{{currentCon.created_at | date:"MMMM d, yyyy"}}</small>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<img ng-src="{{currentCon.to.avatar.thumb_url}}" alt="{{currentCon.to.name}}" class="img-circle img-border">
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					{{currentCon.prompt}}
				</div>
			</div>

			<div class="row-fluid" ng-repeat="message in currentMsgs">
				<div class="span12" ng-show='show.thread || message.id == currentMsg.id'>
					<div class="row-fluid">
						<div class="span12 uncenter">
							<img ng-src="{{message.from.avatar.thumb_url}}" alt="{{message.from.name}}" class="img-circle img-border img-mini">
							<small>{{message.from.name}}</small>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span12">
							<p class='pts pbm' ng-bind-html-unsafe="message.body | linebreaks">{{message.body}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid" ng-show='currentMsgs.length > 1'>
				<div class="span12 pbm">
					<a href='#' ng-hide='show.thread' class='btn btn-block btn-link unfancy-link' ng-click='show.thread = true'>expand conversation</a>
					<a href='#' ng-show='show.thread' class='btn btn-block btn-link unfancy-link' ng-click='show.thread = false'>collapse conversation</a>
				</div>
			</div>

			<div ng-show='lastMsg.to.id == app.currentUser.id && (lastMsg.id == currentMsg.id || show.thread)' class="row-fluid reply">
				<div class="span12">
					<!-- <a href="#" class="reply pull-right">reply</a> -->

					<form name='replyForm' class='reply' ng-submit="save('send')" novalidate style='width: 100%;'>
						<control-group>
							<textarea name='body' cols="30" rows="4" ng-model='myMessage.body' id='response_body' placeholder='your response' class='input-block-level' required></textarea>
						</control-group>

						<div class='control-group'>
							<div class='controls'>
								<button type='submit' class='btn btn-success pull-right' ng-disabled="replyForm.body.$invalid">Reply</button>

								<span class='pull-right'>&nbsp;&nbsp;</span>
								<!-- <a href='#' class='btn pull-right' ng-disabled='savedBody == myMessage.body' ng-click='save()'>Save Draft</a> -->

								<span class='pull-right pts prm' ng-class='{"muted": remainingChars > 10, "text-error": remainingChars <= 10}'>{{remainingChars}}</span>

								<a href='#' class='btn btn-inverse pull-left' ng-click='endConvo()' tooltip="End a conversation if it's going nowhere. You can always start a new one." tooltip-placement='right'>End</a>
							</div>
						</div>
					</form>

				</div>
			</div>

			<div ng-hide='lastMsg.to.id == app.currentUser.id && (lastMsg.id == currentMsg.id || show.thread)' class="row-fluid reply">
				<div class="span12 well center">
					Awaiting reply from {{lastMsg.to.name}}
				</div>
			</div>

		</div>
	</div>

</div>
