<div id='inbox' class="container">

	<br/>

	<div class="row" ng-repeat="message in currentThread">
		<div class="offset4 span4">
			<hr/>

			<blockquote ng-class='{"pull-right": message.from.id == app.currentUser.id}'>
				{{message.body}}
			</blockquote>
		</div>
	</div>

	<div class="row message" ng-repeat="message in messages" ng-class='{active: $index == 0}'>
		<div class="offset4 span4">
			<hr/>

			<blockquote>
				{{message.body}}
			</blockquote>

			<!-- <a href="#" class="reply pull-right">reply</a> -->

			<form ui-if='$index == 0' class='reply' ng-submit="reply()" novalidate style='width: 100%;'>
				<control-group>
					<textarea cols="30" rows="4" ng-model='myMessage.body' id='response_body' placeholder='your response' class='input-block-level'></textarea>
				</control-group>

				<div class='control-group'>
					<div class='controls'>
						<button type='submit' class='btn btn-success pull-right'>Reply</button>
						<span class='pull-right pts prm' ng-class='{"muted": remainingChars > 10, "text-error": remainingChars <= 10}'>{{remainingChars}}</span>
						<a href='#' class='btn btn-inverse' ng-click='endConvo()' tooltip="End a conversation if it's going nowhere. You can always start a new one." tooltip-placement='right'>End</a>
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
