<div id='edit_space' class="container" centerish>
	<div class="row">
		<div class="span12">

			<div ng-show='user.can_edit' class="row">
				<div class="span-mobile center">
					<a ng-href='/{{user.slug}}' ng-hide='space.cantCloseEdit' class='pull-right btn btn-link'>cancel</a>
				</div>
			</div>

			<div class="row">
				<div class="span-mobile center pos-rel">

					<div class="row">
						<div class="span12">
							<div class='uncenter'>Picture</div>
						</div>
					</div>

					<div class="center animated fadeInDown">
						<ps-img src="{{user.avatar.big_thumb_url}}" alt="{{user.name}}" img-class="img-circle img-border img-big-thumb" attachable-type='User' attachable-id='{{user.id}}' image-type='avatar' image-url='big_thumb_url' can-edit='{{user.id && user.id == app.currentUser.id}}'></ps-img>
					</div>

					<form class='ptm uncenter animated fadeInUp' name='user_profile' class='form-vertical uncenter ptl' ng-submit='saveSpace()' novalidate style='width: 100%;'>

						<control-group label='Full name'>
							<input name='name' id='user_name' title='your real name (not your username)' placeholder="your full name" class='input-block-level' ng-model='user.name' required></input>
						</control-group>

						<control-group label="Today's conversation starter" help-block='What one thing would you like to talk about right now?'>
							<textarea name='body' id='user_body' title='the one thing you want to talk about' placeholder="I want to talk about JUST ONE THING, which is... " class='input-block-level' ng-model='user.body' rows=5 required></textarea>
						</control-group>

						<div class="row-fluid">
							<div class="span6">
								<control-group label='Location'>
								    <input type='text' id='user_location' name='location' title='your current location' placeholder='City, State' class='input-block-level' ng-model='user.location' ng-maxlength='140'></input>
								</control-group>
							</div>

							<div class="span6">
								<control-group label='Website'>
					                <input type='url' id='user_personal_url' name='personal_url' title='link to your website' placeholder='http://example.com' class='input-block-level' ng-model='user.personal_url' ng-maxlength='800'></input>
					            </control-group>
							</div>
						</div>

						<div class='control-group'>
							<div class='controls'>
								<button type='submit' class='btn btn-success pull-right'>Save your space</button>
								<span class='pull-right pts prm' ng-class='{"muted": userBodyRemaining > 10, "text-error": userBodyRemaining <= 10}'>{{userBodyRemaining}}</span>
							</div>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
</div>
