<div id='users' class="container" centerish>
	<div class="row">
		<div class="span12">
			<div class='cols' ng-repeat='user in users.collection'>
				<ps-space app='app' user='user'></ps-space>
			</div>
		</div>
	</div>
</div>
