<div id='users'>

	<div class='bgg' ng-hide='app.loggedIn()'>
		<br/>
		<br/>
		<br/>
		<div class="container">
			<div class="row pbm">
				<div class="span12 center">
					<h1 class='font48 text-inset'>Really get to know people.</h1>
				</div>
			</div>
			<div class="row pbl">
				<div class="span12">
					<div class='animated-header muted text-inset'>
						<span>Give the world permission to know you and your love of</span>
						<span class='visible-phone'>
							conversation
						</span>
						<span class='rw-words hidden-phone'>
							<span>conversation</span>
							<span>design</span>
							<span>music</span>
							<span>startups</span>
							<span>teaching</span>
							<span>cooking</span>
							<span>adventure</span>
							<span>technology</span>
							<span>subversion</span>
						</span>
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<!-- <div class="row ptm">
				<div class="span12 center">
					<div class="font18 text-inset">Tell the world what you want to talk about</div>
				</div>
			</div>
			<div class="row ptm pbl">
				<div class="span12 center">
					<div class="font20 text-inset">Join the community</div>
				</div>
			</div> -->
			<div class="row ptl pbm">
				<div class="span12 center">
					<a href="/register" class="btnf btnf-success btnf-huge">Claim your space</a>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>

	<div class="container">
		<div ng-show='app.loggedIn() && !app.currentUser.body' class="row ptl pbl">
			<div class="span-mobile center">
				<div class='row-fluid'>
					<a href='/{{app.currentUser.slug}}/edit'>
						<div class="span12 alert alert-info alert-block uncenter bgw opacity8 opacity-full-hover">
							<h4>Want to see your space here?</h4>
							Just fill it in. Click here to get started.
						</div>
					</a>
				</div>
			</div>
		</div>

		<br/>
		<br/>
		<br/>

		<div class="row pbl">
			<div class="span12">
				<div class='row' ng-hide='app.loggedIn()'>
					<div class="span-mobile center">
						<div class='uncenter font28'>Explore some spaces</div>
					</div>
				</div>

				<div class='row' ng-show='app.loggedIn()'>
					<div class="span-mobile center">
						<a href='/{{app.currentUser.slug}}' class='pull-right font20'>{{app.currentUser.username}}&nbsp;&nbsp;<i class='icon-angle-right'></i></a>
						<div class='uncenter font28'>Spaces</div>
					</div>
				</div>
				<div class='row ptl' ng-show='app.loggedIn()'>
					<div class="span-mobile center">
						<div class="btn-group" ng-model="filter" ps-buttons-radio style='width: 100%' ng-click='updateFilter()'>
							<button type="button" class="btn" value="recent" style='width: 38%'>Recently updated</button>
							<button type="button" class="btn" value="following" style='width: 31%'>Following</button>
							<button type="button" class="btn" value="followers" style='width: 31%'>Followers</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div infinite-scroll='loadMoreUsers()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
			<div class="row pbl ptl" ng-repeat='user in users.collection'>
				<div class="span12">
					<ps-space app='app' user='user'></ps-space>

					<div class='row ptl respond'>
						<div class="span-mobile center">
							<div class='row-fluid'>
								<div class='span12 uncenter'>
									<a ng-href="/{{user.slug}}?respond=true" class="btnf btnf-respond">Respond</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="masonry center">
		<ul class='cols'>
			<li class='col' ng-repeat='user in users.collection'>

				<ps-space app='app' user='user'></ps-space>

				<div class='row ptl respond'>
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class='span12 uncenter'>
								<a ng-href="/{{user.slug}}?respond=true" class="btnf btnf-respond">Respond</a>
							</div>
						</div>
					</div>
				</div>

			</li>
		</ul>
	</div> -->

</div>
