<div id='users'>

	<div class="container">

		<div class="row">
			<div class="span12">
				<div class='row'>
					<div class="span-mobile center">

						<div class="row-fluid">
							<div class="span12 ptl pbl">
								<div class='uncenter font28' ng-bind-html-unsafe="title">Spaces</div>
							</div>
						</div>
						<hr/>


						<!-- <div class='row-fluid ptl' ng-show='app.loggedIn()'>
							<div class="span-mobile center">
								<div class="btn-group" ng-model="filter" ps-buttons-radio style='width: 100%' ng-click='updateFilter()'>
									<button type="button" class="btn" value="recent" style='width: 38%'>Recently updated</button>
									<button type="button" class="btn" value="following" style='width: 31%'>Following</button>
									<button type="button" class="btn" value="followers" style='width: 31%'>Followers</button>
								</div>
							</div>
						</div> -->

						<div infinite-scroll='loadMoreUsers()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
							<div class="row-fluid pbl ptl" ng-repeat='user in users.collection'>
								<div class="span12">
									<div ng-include src="'<%= asset_path('users/space.html') %>'" ng-controller="UsersSpaceCtrl" onload=''></div>
									<hr/>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>

	<!-- <div class="masonry center">
		<ul class='cols'>
			<li class='col' ng-repeat='user in users.collection'>

				<div ng-include src="'<%= asset_path('users/space.html') %>'" ng-controller="UsersSpaceCtrl" onload=''></div>

				<div class='row-fluid ptl respond'>
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class='span12 uncenter'>
								<a ng-href="/{{user.slug}}?respond=true" class="btnf btnf-respond">Respond</a>
							</div>
						</div>
					</div>
				</div>

			</li>
		</ul>
	</div> -->

</div>
