<div class="container" centerish>
	<div class="row">
		<div class="span12">

			<div class='center span-mobile'>
				<a href="/" class='unfancy-link'>
				    <h1>Positive Space</h1>
				</a>
				<br/>

				<form name='passwordEdit' class='form-vertical uncenter' ng-submit='updatePassword()' novalidate style='width: 100%;'>

					<control-group>
						<input type='password' name='password' placeholder='new password' class='input-block-level' ng-model='psw.password' ng-minlength='8' ng-maxlength='100' required></input>
					</control-group>

					<control-group>
						<input type='password' name='passwordConfirmation' placeholder='confirm new password' class='input-block-level' ng-model='psw.passwordConfirmation' ng-minlength='8' ng-maxlength='100' required></input>
					</control-group>

					<div class='control-group'>
						<div class='controls login-submit'>
							<button type='submit' class='btn btn-primary btn-block'>
								Change Password
							</button>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
