<div class="container">

	<br/>
	<br/>
	<br/>

	<div class="row">
		<div class="span12">
			<div class="center">
				<a ng-click='openUserEdit = true' class='btn btn-large'>Edit Settings</a>
				<edit-resource app='app', toggle='openUserEdit', resource='app.currentUser'></edit-resource>
			</div>
		</div>
	</div>

	<br/>
	<br/>

	<div class="row">
		<div class="offset4 span4">
			<div ng-repeat='attribute in app.currentUser.accessible_attributes'>
				<p><b>{{attribute.name | inflector}}:</b> {{app.currentUser[attribute.name]}}</p>
			</div>
		</div>
	</div>
</div>
