<div id='edit_settings' class="container" centerish>
	<div class="row">
		<div class="span12">

			<div class="row">
				<div class="span-mobile center pos-rel">

					<form class='ptm uncenter animated fadeInUp' name='user_settings' class='form-vertical uncenter ptl' ng-submit='saveSettings()' novalidate style='width: 100%;'>

						<control-group label='Username'>
							<input name='username' id='user_username' title='your username' placeholder="your username" class='input-block-level' ng-model='app.currentUser.username' required></input>
						</control-group>
						<div class='muted pbl'>http://positivespace.io/{{app.currentUser.username}}</div>

						<control-group class='pbl' label='Email'>
							<input type='email' name='email' id='user_email' title='your email address' placeholder="your email address" class='input-block-level' ng-model='app.currentUser.email' required></input>
						</control-group>

						<accordion close-others="true">
							<accordion-group heading="Email notifications">
								<control-group class='pbs' label='Notify me of every new message'>
									<input type="checkbox" ng-model='app.currentUser.settings.notifications.email.every_new_message' name="every_new_message" onoffswitch>
								</control-group>

								<control-group class='pbs' label='Send me a daily digest of my new messages'>
									<input type="checkbox" ng-model='app.currentUser.settings.notifications.email.daily_new_messages_digest' name="daily_new_messages_digest" onoffswitch>
								</control-group>

								<control-group class='pbs' label='Send me a weekly digest of my new messages'>
									<input type="checkbox" ng-model='app.currentUser.settings.notifications.email.weekly_new_messages_digest' name="weekly_new_messages_digest" onoffswitch>
								</control-group>
							</accordion-group>
						</accordion>

						<div class='control-group'>
							<div class='controls'>
								<button type='submit' class='btn btn-success pull-right'>Save settings</button>
							</div>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
</div>

