<div id='user' class="container" centerish>
	<div class="row">
		<div class="span12">

			<div class="row pbl" ng-show='user.can_edit && !showAdmin'>
				<div class="span-mobile center">
					<div class='row-fluid'>
						<a href='#' class='faded pull-right font14 opacity8 opacity-full-hover' ng-click='showAdmin = !showAdmin'><i class="icon-angle-right"></i> show dashboard <i class='icon-dashboard'></i></a>
					</div>
				</div>
			</div>

			<div class='overflow-hidden' ng-show='user.can_edit' ng-class="{'height0': !showAdmin}">

				<div class="row pbm">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<a href='#' class='faded pull-right font14 opacity6 opacity-full-hover' ng-click='showAdmin = !showAdmin'><i class="icon-angle-down"></i> hide dashboard</a>
							<h4 class="uncenter">Dashboard</h4>
						</div>
					</div>
				</div>

				<div class="row pbm">
					<div class="span-mobile center">
						<div class='row-fluid opacity3 opacity-full-hover'>
							<ps-linechart label="private stats" height="100" values="chart.values" increment='days'></ps-linechart>
						</div>
					</div>
				</div>

				<div class="row pbm">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class='span12 uncenter'>
								<h5>Totals</h5>
							</div>
							<div class='span12 uncenter'>
								<span class="label">Unique visitors&nbsp;&nbsp;<span class="badge badge-info">{{user.impressions_count}}</span></span>
								<span class="label" ng-show="totalResponses">Responses to your space&nbsp;&nbsp;<span class="badge badge-info">{{totalResponses}}</span></span>
								<span class="label" ng-show="totalInitiations">Conversations initiated by you&nbsp;&nbsp;<span class="badge badge-info">{{totalInitiations}}</span></span>
								<a href='#' class='' ng-click='showShare = !showShare; showEmbed = !showEmbed; showEndorse = !showEndorse; showInitiate = !showInitiate'>
									<span class="label opacity5 opacity-full-hover">Ways to get more&nbsp;&nbsp;<span class="badge">4</span></span>
								</a>
							</div>
						</div>
						<div class='row-fluid'>
							<a href='#' class='btn btn-block btn-link btn-large uncenter' ng-click='showShare = !showShare; showEmbed = !showEmbed; showEndorse = !showEndorse; showInitiate = !showInitiate'>
								<i class="icon-angle-right" ng-hide='showShare || showEmbed || showEndorse || showInitiate'></i>
								<i class="icon-angle-down" ng-show='showShare || showEmbed || showEndorse || showInitiate'></i>
								&nbsp;
								Learn more
							</a>
						</div>
					</div>
				</div>

				<div ng-show='user.state == "unendorsed" && showEndorse' class="row ptl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class="span12 alert alert-info alert-block uncenter bgw">
								<button type="button" class="close" ng-click="showEndorse = false">&times;</button>
								<h4>1. Publish</h4>
								Make you space public and discoverable to everyone who uses Positive Space. You only need one endorsement from an already published person. Don't spam strangers asking for one, but start some conversations and if you still don't get an endorsement <a href="/contact">talk with us</a>
								<a href="#" ng-click="app.randomSpace()" class="btn btn-info btn-block">Find someone to talk with</a>
							</div>
						</div>
					</div>
				</div>
				<div ng-show='user.state != "unendorsed" && showEndorse' class="row ptl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class="span12 alert alert-success alert-block uncenter bgw">
								<button type="button" class="close" ng-click="showEndorse = false">&times;</button>
								<h4>1. Publish - Complete</h4>
								You have been endorsed by
								<a href='/{{user.invitation.user.slug}}'>{{user.invitation.user.name || "Positive Space"}}</a>,
								and now your space is indexed in public search for easy discovery.
							</div>
						</div>
					</div>
				</div>

				<div ng-show='showInitiate' class="row ptl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class="span12 alert alert-info alert-block uncenter bgw">
								<button type="button" class="close" ng-click="showInitiate = false">&times;</button>
								<h4>2. Initiate</h4>
								<ol>
									<li>
										<i class="icon-search"></i>
										Search for what interests you and start conversations with people who share your interest.
									</li>
									<li>
										<i class="icon-random"></i>
										Stumble through spaces. You may serendipitously find someone you want to talk with.
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div ng-show='showShare' class="row ptl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class="span12 alert alert-info alert-block uncenter bgw">
								<button type="button" class="close" ng-click="showShare = false">&times;</button>
								<h4>3. Share</h4>
								Invite your friends. Share your space with the people you want to have a conversation with.
								<div class='font48 ptm'>
									<a class="color-pinterest" href="#"
										title='share on pinterest'
										share="pinterest"
										share-url="http://www.positivespace.io/{{user.slug}}"
										share-name="Let’s talk about - {{user.space.prompt}} - on Positive Space"
										share-image="{{user.avatar.large_url}}"
									><i class="share icon-pinterest"></i></a>
									<a class="color-facebook" href="#"
										title='send to a friend'
										share="facebook send"
										share-url="http://www.positivespace.io/{{user.slug}}"
										share-name="Have a conversation with {{user.name}}"
										share-desc="{{user.space.prompt}}"
										share-image="{{user.avatar.large_url}}"
									><i class="share icon-facebook-sign"></i></a>
									<a class="color-twitter" href="#"
										title='share on twitter'
										share="twitter"
										share-url="http://www.positivespace.io/{{user.slug}}"
										share-name="Talk with {{user.name}} about {{user.space.prompt}}"
									><i class="share icon-twitter"></i></a>
									<a class="color-tumblr" href="#"
										title='share on tumblr'
										share="tumblr"
										share-url="http://www.positivespace.io/{{user.slug}}"
										share-name="Have a conversation with {{user.name}}"
										share-desc="{{user.space.prompt}}"
										share-image="{{user.avatar.large_url}}"
									><img src="<%= asset_path 'tumblr64.png' %>" alt='tumblr' style='width: 42px; height: 42px; margin-top: -10px;'></a>
									<a class="color-stumbleupon" href="#"
										title='share on stumbleupon'
										share="stumbleupon"
										share-url="http://www.positivespace.io/{{user.slug}}"
									><img src="<%= asset_path 'stumbleupon128.png' %>" alt='tumblr' style='width: 42px; height: 42px; margin-top: -10px;'></a>
								</div>
								<div class='ptm'>
									<small class='muted'>shareable url</small>
									<pre ng-click="app.selectText('share-url')" class="share-url sans bold font14">http://www.positivespace.io/{{user.slug}}</pre>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-show='showEmbed' class="row ptl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<div class="span12 alert alert-info alert-block uncenter bgw">
								<button type="button" class="close" ng-click="showEmbed = false">&times;</button>
								<h4>4. Embed</h4>
								Let conversations come to you. Embed your space in any website or blog.
								<a href="#" ng-click="requestEmbedCode()" class="btn btn-link btn-block">Click to get embed code</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row ptl pbl">
					<div class="span-mobile center">
						<div class='row-fluid'>
							<hr/>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="span-mobile center">
					<div ng-include="'<%= asset_path('users/space.html') %>'" ng-controller="UsersSpaceCtrl" onload=''></div>
				</div>
			</div>



			<br/>


			<div class='row animated fadeInUp ptl' ui-if="conversation">
				<div class="span-mobile center">
					<div ng-include="'<%= asset_path('conversations/conversation.html') %>'" ng-controller="ConversationsPartialCtrl"></div>
				</div>
			</div>

		</div>
	</div>
</div>
