<div id='space' class="container" centerish>

	<div ng-show='user.can_edit' class="row">
		<div class="offset4 span4">
			<a ng-click='openUserEdit = true' class='pull-right btn'>edit</a>
			<edit-resource app='app', toggle='openUserEdit', resource='user'></edit-resource>
		</div>
	</div>

	<div class="row">
		<div class="offset4 span4 pos-rel">
			<div class='lbl ptx'>To:</div>
			<div class="center">
				<ps-img src="{{user.avatar.big_thumb_url}}" alt="{{user.name}}" img-class="img-circle img-polaroid img-big-thumb" attachable-type='User' attachable-id='{{user.id}}' image-type='avatar' image-url='big_thumb_url' can-edit='{{user.id && user.id == app.currentUser.id}}'></ps-img>
				<h2>{{user.name}}</h2>
				<p>{{user.body}}</p>
				<p>
					<span ng-show='user.location.length > 0'><i class='icon-map-marker'></i> {{user.location}}</span>
					<span ng-show='user.location.length > 0 && user.personal_url.length > 0'>&nbsp;&middot;&nbsp;</span>
					<span ng-show='user.personal_url.length > 0'>{{user.personal_url}}</span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="offset4 span4 pos-rel">
			<form name='message' class='form-vertical uncenter' ng-submit='submitMyMessage()' novalidate style='width: 100%;'>

				<div class='lbl ptx'>From:</div>
				<ps-subtle-login app='app'></ps-subtle-login>

				<control-group>
					<textarea name='body' id='msg_body' title='message body' placeholder="message{{' to ' + user.name | lowercase}}" class='input-block-level' ng-model='myMessage.body' rows=5 required></textarea>
				</control-group>

				<div class='control-group'>
					<div class='controls'>
						<button ng-hide='myMessage.id' type='submit' class='btn btn-success pull-right'>Start Conversation</button>
						<button ng-show='myMessage.id' type='submit' class='btn btn-disabled pull-right' disabled>Message Sent</button>
						<span class='pull-right pts prm' ng-class='{"muted": remainingChars > 10, "text-error": remainingChars <= 10}'>{{remainingChars}}</span>
					</div>
				</div>

			</form>
		</div>
	</div>

</div>
