<div id='space' class="container" centerish>
	<div class="row">
		<div class="span12">
			<div ng-show='user.can_edit' class="row pbm">
				<div class="span-mobile center">
					<div class='row-fluid'>
						<a href='#' class='btn btn-block btn-link btn-large bd circle' style='background: #fbfbfb;' ng-click='showShare = !showShare; showEmbed = !showEmbed'>
							<ng-pluralize class="impressions" count='user.impressions_count' when="{1: '{} Visitor', 'other': '{} Visitors'}"></ng-pluralize>
							&middot;
							Promote your space
						</a>
					</div>
				</div>
			</div>

			<div ng-show='user.can_edit && showShare' class="row">
				<div class="span-mobile center">
					<div class='row-fluid'>
						<div class="span12 alert alert-info alert-block uncenter bgw">
							<button type="button" class="close" ng-click="showShare = false">&times;</button>
							<h4>1. Start a conversation</h4>
							Share your space with the people you want to have a conversation with.
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style ptm">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_google_plusone_share"></a>
								<a class="addthis_button_email"></a>
								<a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact"></a>
								<a class="addthis_button_facebook_send" style='margin-top: -3px;'></a>
							</div>
							<!-- AddThis Button END -->
						</div>
					</div>
				</div>
			</div>

			<div ng-show='user.can_edit && showEmbed' class="row" ng-class='{ptl: !hideShare}'>
				<div class="span-mobile center">
					<div class='row-fluid'>
						<div class="span12 alert alert-info alert-block uncenter bgw">
							<button type="button" class="close" ng-click="showEmbed = false">&times;</button>
							<h4>2. Embed your space</h4>
							Let conversations come to you. Embed your space in your website or blog.
							<a href="#" ng-click="requestEmbedCode()" class="btn btn-link btn-block">Click to get embed code</a>
						</div>
					</div>
				</div>
			</div>

			<div ng-show='user.can_edit' class="row">
				<div class="span-mobile center ptm">
					<a ng-href='/{{user.slug}}/edit' class='pull-right btn btn-link btn-large'>edit</a>
				</div>
			</div>

			<div class="row ptm">
				<div class="span-mobile center pos-rel">
					<!-- <div class='lbl ptx'>To:</div> -->

					<div class="center animated fadeInDown">
						<ps-img src="{{user.avatar.big_thumb_url}}" alt="{{user.name}}" img-class="img-circle img-border img-big-thumb"></ps-img>
						<div class='animated fadeInDown'>
							<h2 class='pts pbs'>{{user.name}}</h2>
							<p ng-bind-html-unsafe="user.body | linebreaks" class='prompt'>{{user.body}}</p>
							<p ng-show='user.location.length > 0 || user.personal_url.length > 0' class='m0 ptl'>
								<div ng-show='user.location.length > 0'>
									<i class='icon-map-marker faded'></i>
									<br/>
									<strong>{{user.location}}</strong>
								</div>
								<div ng-show='user.personal_url.length > 0'><a href='{{user.personal_url}}' target='_blank' class='unfancy-link underline'>{{user.personal_url | urlSimplify}}</a></div>
							</p>
						</div>
					</div>

				</div>
			</div>

			<div class='row animated fadeInUp ptl'>
				<div class="span-mobile center pos-rel">
					<form name='messageForm' class='form-vertical uncenter' ng-submit='submitMessage()' novalidate style='width: 100%;'>

						<!-- <div class='lbl ptx'>From:</div> -->

						<ps-subtle-login app='app'></ps-subtle-login>

						<control-group>
							<textarea name='body' id='msg_body' title='message body' placeholder="message{{' to ' + user.name | lowercase}}" class='input-block-level' ng-model='message.body' rows=5 required ng-disabled='message.id'></textarea>
						</control-group>

						<div ng-show='show.embedInput'>
							<control-group>
								<input type="url" name='embed_url' id='msg_embed_url' title='embed url' placeholder='http://example.com' class='input-block-level' ng-model='message.embed_url' ng-disabled='message.id'>
							</control-group>
						</div>

						<div class='control-group'>
							<div class='controls'>
								<a href='#' class='muted' ng-click='show.embedInput = true' ng-hide='show.embedInput'><i class='icon-link pts font20' tooltip='Attach a link. We will magically find and embed picture, video, audio, and more.' tooltip-placement='right'></i></a>
								<a href='#' class='muted' ng-click='show.embedInput = false' ng-show='show.embedInput'><i class='icon-link pts font20'></i></a>

								<button ng-hide='message.id' type='submit' class='btn btn-success pull-right' ng-disabled="messageForm.body.$invalid">Start Conversation</button>
								<button ng-show='message.id' type='submit' class='btn btn-disabled pull-right' disabled>Message Sent</button>

								<span class='pull-right pts prm' id='msg_remaining_chars' ng-class='{"muted": remainingChars > 10, "text-error": remainingChars <= 10}'>{{remainingChars}}</span>
							</div>
						</div>

					</form>
				</div>
			</div>

		</div>
	</div>
</div>
