<div id='user_start' class="container">
	<br/>
	<br/>
	<div class="row">
		<div class="span12">

			<div class="row">
				<div class="span-mobile center pos-rel">

					<div class="row-fluid uncenter">
						<div class="span12">

							<h3 class='pbs'>
								<span class='pull-right'>Earn 100 <i class="icon-magnet" tooltip='magnetism'></i></span>
								Getting started
							</h3>
							<progress percent="completionPercentage" class='progress-success'></progress>


							<form name='user_profile' class='form-vertical' ng-submit='saveSpace()' novalidate style='width: 100%;' ng-show='step == 0 || step == 1 || step == 2 || step == 3 || step == 4 || step == 5'>

								<div class='step animated fadeInDown' ng-show='step == 0'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step0">&nbsp;</span>
										Select 5 things you excel at.
									</h4>

									<control-group class='pbl' no-color='true'>
										<div class="muted pbm">
											<a target="_self" ng-click="cLinkedin = true" ps-loading="cLinkedin" href="/users/auth/linkedin?merge_skills=true&redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-linkedin btn-mini pull-right" ui-if="!user.linkedin_id">Pull skills from linkedin&nbsp;&nbsp;<i class='icon-linkedin'></i></a>
											type your skills:
										</div>
										<input type='text' name='skills' placeholder='add a skill' id='user_skills' class='input-block-level' multiple ui-select2='skillsOptions' ng-model='user.skills'></input>
										<div class="muted ptl pbm">or pick from some favorites:</div>
										<div class='pbm'>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Design')" ng-hide="user.skills | pluck:'text' | contains:'Design'"><i class='icon-lightbulb'></i> Design</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Development')" ng-hide="user.skills | pluck:'text' | contains:'Development'"><i class='icon-code-fork'></i> Development</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Business')" ng-hide="user.skills | pluck:'text' | contains:'Business'"><i class='icon-money'></i> Business</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Writing')" ng-hide="user.skills | pluck:'text' | contains:'Writing'"><i class='icon-pencil'></i> Writing</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Marketing')" ng-hide="user.skills | pluck:'text' | contains:'Marketing'"><i class='icon-bullhorn'></i> Marketing</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Teaching')" ng-hide="user.skills | pluck:'text' | contains:'Teaching'"><i class='icon-group'></i> Teaching</a>
											<!-- <a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Sports')" ng-hide="user.skills | pluck:'text' | contains:'Sports'"><i class='icon-dribbble'></i> Sports</a> -->
											<!-- <a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Cooking')" ng-hide="user.skills | pluck:'text' | contains:'Cooking'"><i class='icon-food'></i> Cooking</a> -->
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Construction')" ng-hide="user.skills | pluck:'text' | contains:'Construction'"><i class='icon-wrench'></i> Construction</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Research')" ng-hide="user.skills | pluck:'text' | contains:'Research'"><i class='icon-beaker'></i> Research</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Engineering')" ng-hide="user.skills | pluck:'text' | contains:'Engineering'"><i class='icon-rocket'></i> Engineering</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Parenting')" ng-hide="user.skills | pluck:'text' | contains:'Parenting'"><i class='icon-heart'></i> Parenting</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Photography')" ng-hide="user.skills | pluck:'text' | contains:'Photography'"><i class='icon-camera-retro'></i> Photography</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Video')" ng-hide="user.skills | pluck:'text' | contains:'Video'"><i class='icon-film'></i> Video</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Listening')" ng-hide="user.skills | pluck:'text' | contains:'Listening'"><i class='icon-volume-down'></i> Listening</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'Learning')" ng-hide="user.skills | pluck:'text' | contains:'Learning'"><i class='icon-puzzle-piece'></i> Learning</a>
											<a href="#" class="btn btn-info mbs mrs" ng-click="addTag('skills', 'HTML')" ng-hide="user.skills | pluck:'text' | contains:'HTML'"><i class='icon-code'></i> HTML</a>
										</div>
									</control-group>
								</div>


								<div class='step animated fadeInDown' ng-show='step == 1'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step1">&nbsp;</span>
										Select 5 things you want to discuss.
									</h4>

									<control-group class='pbl' no-color='true'>
										<div class="muted pbm">
											<a target="_self" ng-click="cLinkedin = true" ps-loading="cLinkedin" href="/users/auth/linkedin?merge_interests=true&redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-linkedin btn-mini pull-right" ui-if="!user.linkedin_id">Pull interests from linkedin&nbsp;&nbsp;<i class='icon-linkedin'></i></a>
											type your interests:
										</div>
										<input type='text' name='interests' placeholder='add an interest' id='user_interests' class='input-block-level' multiple ui-select2='interestsOptions' ng-model='user.interests'></input>
										<div class="muted ptl pbm">or pick from some favorites:</div>
										<div class='pbm'>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Collaboration')" ng-hide="user.interests | pluck:'text' | contains:'Collaboration'"><i class='icon-exchange'></i> Collaboration</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Adventure')" ng-hide="user.interests | pluck:'text' | contains:'Adventure'"><i class='icon-bolt'></i> Adventure</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Startups')" ng-hide="user.interests | pluck:'text' | contains:'Startups'"><i class='icon-cloud-upload'></i> Startups</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Art')" ng-hide="user.interests | pluck:'text' | contains:'Art'"><i class='icon-picture'></i> Art</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Traveling')" ng-hide="user.interests | pluck:'text' | contains:'Traveling'"><i class='icon-plane'></i> Traveling</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Governance')" ng-hide="user.interests | pluck:'text' | contains:'Governance'"><i class='icon-legal'></i> Governance</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Playing')" ng-hide="user.interests | pluck:'text' | contains:'Playing'"><i class='icon-gamepad'></i> Playing</a>
											<!-- <a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Acting')" ng-hide="user.interests | pluck:'text' | contains:'Acting'"><i class='icon-ticket'></i> Acting</a> -->
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Sports')" ng-hide="user.interests | pluck:'text' | contains:'Sports'"><i class='icon-dribbble'></i> Sports</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Music')" ng-hide="user.interests | pluck:'text' | contains:'Music'"><i class='icon-music'></i> Music</a>
											<a href="#" class="btn btn-warning mbs mrs" ng-click="addTag('interests', 'Coffee')" ng-hide="user.interests | pluck:'text' | contains:'Coffee'"><i class='icon-coffee'></i> Coffee</a>
										</div>
									</control-group>
								</div>

								<div class='step animated fadeInDown' ng-show='step == 2'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step2">&nbsp;</span>
										Speed up the following steps.
									</h4>

									<div class="row-fluid ptl pbl">
										<div class="span12" ui-if="!user.twitter_id">
											<a target="_self" ng-click="cTwitter = true" ps-loading="cTwitter" href="/users/auth/twitter?force_login=false&image_size=original&redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-twitter btn-block btn-large">Pull info from Twitter&nbsp;&nbsp;<i class='icon-twitter'></i></a>
										</div>
										<div class="span12" ui-if="user.twitter_id">
											<control-group label='Show link to my Twitter on my Space'>
												<a href="#" ng-click="disconnect('twitter')" class='faded pull-right mrl mts' tooltip='Disconnect twitter' tooltip-placement='left'>
													<i class="icon-trash"></i>
												</a>
												<input type="checkbox" ng-model='user.show_twitter' name="show_twitter" onoffswitch>
											</control-group>
										</div>
									</div>

									<div class="row-fluid ptl pbl">
										<div class="span12" ui-if="!user.facebook_id">
											<a target="_self" href="#" ng-click="fbConnect()" ps-loading="connectingFb" class="btn btn-facebook btn-block btn-large">Pull info from Facebook&nbsp;&nbsp;<i class='icon-facebook'></i></a>
										</div>
										<div class="span12" ui-if="user.facebook_id">
											<control-group label='Show link to my Facebook on my Space'>
												<a href="#" ng-click="disconnect('facebook')" class='faded pull-right mrl mts' tooltip='Disconnect facebook' tooltip-placement='left'>
													<i class="icon-trash"></i>
												</a>
												<input type="checkbox" ng-model='user.show_facebook' name="show_facebook" onoffswitch>
											</control-group>
										</div>
									</div>

									<div class="row-fluid ptl pbl">
										<div class="span12" ui-if="!user.linkedin_id">
											<a target="_self" ng-click="cLinkedin = true" ps-loading="cLinkedin" href="/users/auth/linkedin?redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-linkedin btn-block btn-large">Pull info from LinkedIn&nbsp;&nbsp;<i class='icon-linkedin'></i></a>
										</div>
										<div class="span12" ui-if="user.linkedin_id">
											<control-group label='Show link to my LinkedIn on my Space'>
												<a href="#" ng-click="disconnect('linkedin')" class='faded pull-right mrl mts' tooltip='Disconnect linkedin' tooltip-placement='left'>
													<i class="icon-trash"></i>
												</a>
												<input type="checkbox" ng-model='user.show_linkedin' name="show_linkedin" onoffswitch>
											</control-group>
										</div>
									</div>

									<div class="row-fluid ptl pbl">
										<div class="span12" ui-if="!user.github_id">
											<a target="_self" ng-click="cGithub = true" ps-loading="cGithub" href="/users/auth/github" class="btn btn-github btn-block btn-large">Pull info from GitHub&nbsp;&nbsp;<i class='icon-github'></i></a>
										</div>
										<div class="span12" ui-if="user.github_id">
											<control-group label='Show link to my GitHub on my Space'>
												<a href="#" ng-click="disconnect('github')" class='faded pull-right mrl mts' tooltip='Disconnect github' tooltip-placement='left'>
													<i class="icon-trash"></i>
												</a>
												<input type="checkbox" ng-model='user.show_github' name="show_github" onoffswitch>
											</control-group>
										</div>
									</div>
								</div>


								<div class='step animated fadeInDown' ng-show='step == 3'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step3">&nbsp;</span>
										Write a short bio.
										<small ng-hide='user.twitter_id'>
											&nbsp;
											or
											&nbsp;
											<a target="_self" href="/users/auth/twitter?force_login=false&image_size=original&merge_bio=true&redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-twitter">Copy bio from twitter <i class='icon-twitter'></i></a>
										</small>
									</h4>

									<control-group maxlength=250 help-block="Say what you do... Or share a short story." class='pbm'>
										<textarea name='bio' id='user_bio' title='your brief biography' placeholder="Here's what I've been up to recently..." class='input-block-level' ng-model='user.bio' rows=3 required ng-minlength=10></textarea>
									</control-group>
								</div>


								<div class='step animated fadeInDown' ng-show='step == 4'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step4">&nbsp;</span>
										Write your first prompt.
									</h4>

									<div class="position-relative pbm">
										<control-group maxlength=250 help-block='Keep it short and to the point. You can and should change it later when you are ready to discuss something else.'>
											<textarea name='prompt' id='user_space_prompt' title='prompt' placeholder="I want to talk about..." class='input-block-level' ng-model='user.prompt' rows=3 required ng-minlength=10></textarea>
										</control-group>
										<i class="icon-info pull-right prm plm muted" style='position: absolute; top: 0; right: 0px;' tooltip-placement='left' tooltip-trigger='mouseenter' tooltip-html-unsafe="<span style='line-height: 1.8em; text-align: left'><ol><li>Prompt the conversation you want to have.</li><li>Everytime you change your prompt, Positive Space will update our search and discovery listings, so like-minded people will be able to easily find your space and start a 1 on 1 conversation with you.</li><li>We also use this prompt to better understand your interests and send you recomendations.</li><li><strong>Change it frequently for better recommendations.</strong></li></ol></span>"></i>
									</div>
								</div>


								<div class='step animated fadeInDown' ng-show='step == 5'>
									<h4>
										<span class="pull-right" ps-tooltip="tooltips.step5">&nbsp;</span>
										Complete your profile.
									</h4>

									<div class="center">
										<ps-img src="{{user.avatar.big_thumb_url}}" alt="{{user.name}}" img-class="img-circle img-border img-big-thumb" attachable-type='User' attachable-id='{{user.id}}' image-type='avatar' image-url='big_thumb_url' can-edit='{{user.id && user.id == app.currentUser.id}}'></ps-img>
									</div>

									<div ng-show='usernameIsUnset()'>
										<control-group label='Username aka URL' class='pbl'>
											<input name='username' id='user_username' title='your username (aka the link to your space)' placeholder="username" class='input-block-level' ng-model='user.username' ng-minlength='3' ng-maxlength='18' required></input>
											<small class='faded'>http://positivespace.io/{{user.username}}</small>
										</control-group>
									</div>

									<control-group label='Full name' class='pbl'>
										<input name='name' id='user_name' title='your real name (not your username)' placeholder="{{inputs.namePlaceholder}}" class='input-block-level' ng-model='user.name' required></input>
									</control-group>

									<div class="row-fluid pbl">
										<div class="span6">
											<control-group label='Location'>
											    <input type='text' id='user_location' name='location' title='your current location' placeholder='City, State' class='input-block-level' ng-model='user.location' ng-maxlength='140'></input>
											</control-group>
										</div>

										<div class="span6">
											<control-group label='Website'>
								                <input type='url' id='user_personal_url' name='personal_url' title='link to your website' placeholder='http://example.com' class='input-block-level' ng-model='user.personal_url' ng-maxlength='800'></input>
								            </control-group>
										</div>
									</div>
								</div>


								<div class='control-group'>
									<div class='controls'>
										<button type='submit' class='btn btn-success pull-right'>Continue</button>
										<a href='#' ng-click='back()' ng-show='step > 0' class='btn'>Back</a>
									</div>
								</div>

							</form>


							<div class='row-fluid step2' ui-if='step == 6'>
								<div class="span12">
									<div class="step">
										<h4 class='pbm'>
											<span class="pull-right" ps-tooltip="tooltips.step6">&nbsp;</span>
											Find someone to talk with.
										</h4>
										<a href="#" ng-repeat='skill in app.currentUser.skills' ng-click="setQuery(skill)" class="btn btn-mini btn-info mbs mrs">{{skill}}</a>
										<a href="#" ng-repeat='interest in app.currentUser.interests' ng-click="setQuery(interest)" class="btn btn-mini btn-warning mbs mrs">{{interest}}</a>

										<div class="muted ptm">choose someone to talk with:</div>

										<ps-search form-class='pts' input-class='span12' callback='selectUser' hide-label='true' remote-query='discoverQuery'></ps-search>
									</div>

									<div class='control-group'>
										<div class='controls'>
											<a href='#' class='btn btn-success pull-right' disabled popover='search for someone to talk with'>Continue</a>
											<a href='#' ng-click='back()' class='btn'>Back</a>
										</div>
									</div>
								</div>
							</div>

							<div class='row-fluid step3' ui-if='step == 7'>
								<div class="span12">
									<div class="step animated fadeInDown pbl">
										<h4 class='pbm'>
											<span class="pull-right" ps-tooltip="tooltips.step7">&nbsp;</span>
											Start your first conversation.
										</h4>
										<div ng-include src="'<%= asset_path('users/space.html') %>'" ng-controller="UsersSpaceCtrl" onload='init({user: selectedUser, callback: messageSent})' ui-if='selectedUser'></div>
										<p ng-hide='selectedUser || app.show.loading'>Go back to select someone to talk with</p>
									</div>

									<div class='control-group'>
										<div class='controls'>
											<a href='#' class='btn btn-success pull-right' disabled popover='type a message to {{selectedUser.first_name}}'>Continue</a>
											<a href='#' ng-click='back()' class='btn'>Back</a>
										</div>
									</div>
								</div>
							</div>

							<div class='row-fluid step7' ui-if='step == 8'>
								<div class="span12">
									<div class="step animated fadeInDown pbl">
										<h2>Congratulations!</h2>
										<p>You have created a Space and reached out to your first stranger.</p>
										<p class='hidden-phone'>Check out your magnetism below!</p>
										<p class='visible-phone'>Check out your magnetism above!</p>
										<p>We hope that the relationship will be the first of many new mutually beneficial relationships.</p>
										<p><em>If it is not, please do what you can to be helpful, only giving what time you have, and then end the conversation.</em></p>
										<p><b>Regardless of conversation quality, we suggest that you end all conversations when they start to veer off topic. You can always start a new one!</b></p>
										<hr/>
										<p>Before showing you your space we have one favor to ask.</p>
										<p>If you have a friend who you think can add value to the +_ community please invite him or her.</p>
										<p>We are trying to keep the community small as we learn what makes great conversations, so don't feel obliged to spam your entire contact list.</p>
										<p>We just need one positive person who is happy to help friends and strangers alike.</p>
										<p>If you know such a person:</p>

										<a class="btn btn-info btn-large mtl mbl" href="#"
											title='share via email'
											share="email"
											share-name="Have a conversaiton with me on Positve Space"
											share-desc="{{app.currentUser.space.prompt}}"
											share-url="Respond at: http://www.positivespace.io/{{app.currentUser.slug}}"
										>Invite your friend here.</a>

										<p>Then go ahead - check out your space and find some more people to talk with.</p>
										<p>If you have any questions, thoughts, or ideas, <a href='/contact' target='_blank'>talk with us on our Space.</a></p>

										<br/>
									</div>

									<div class='control-group'>
										<div class='controls'>
											<a href='/{{app.currentUser.slug}}' class='btn btn-success pull-right'>Go to my Space</a>
											<a href='#' ng-click='back()' class='btn'>Back</a>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
