<div class="row-fluid review">
	<div class="span12">
		<div class="row-fluid">
			<div class="span12">
				<small>Improve your conversations by sharing anonymous feedback.</small>
				<h5 ui-if="review.vote != null">
					You said this was
					<span ui-if="review.vote">a <span class="color-primary font18">positive</span></span>
					<span ui-if="!review.vote"><span class="color-danger font20">not</span> a positive</span>
					conversation.
				</h5>
				<h5 ui-if="review.rating">
					And liked it
					<rating value="review.rating" max="10" readonly="true"></rating>
					much
				</h5>
				<p ui-if="review.explanation">
					Going on to say: {{review.explanation}}
				</p>
			</div>
		</div>

		<div class="row-fluid" ui-if="review.vote == null">
			<div class="span12">
				<h4>Was this a positive conversation for you?</h4>
				<a href="#" class="btn btn-large btn-primary" ng-click="saveReview({vote: true})" ps-loading='reviewing && review.vote'>Positive</a>
				&nbsp;
				<span class="pts">or</span>
				&nbsp;
				<a href="#" class="btn btn-large btn-danger" ng-click="saveReview({vote: false})" ps-loading='reviewing && !review.vote'>Not</a>
				<br/>
				<br/>
				<small>Your response is private.</small>
				<br/>
				<small>It is used to improve conversation quality.</small>
			</div>
		</div>

		<div class="row-fluid" ui-if="review.vote != null && !review.rating">
			<div class="span12">
				<h4>How much would you like to have another conversation like this?</h4>
				<rating value="review.rating" max="10"></rating>
			</div>
		</div>

		<div class="row-fluid" ui-if="review.vote != null && review.rating && !review.explanation">
			<div class="span12">
				<h4>Why <span ui-if='review.vote'>was</span><span ui-if='!review.vote'>wasn't</span> it positive?</h4>
				<textarea name="explanation" ng-model="tmpExplanation" placeholder="Write a brief explanation..." class='input-block-level' rows="3"></textarea>
				<small>We may share this anonmously.</small>
				<a href="#" class="btn btn-success pull-right" ng-click="saveReview({explanation: tmpExplanation})" ps-loading="reviewing" ng-disabled="!tmpExplanation || tmpExplanation.length < 10">Submit</a>
			</div>
		</div>
	</div>
</div>
