<div class="modal-body">
	<div class="row-fluid">
		<div class="span12 pts">
			<blockquote>
				<p>
					<div class="input-append">
					<input type="text" ng-model='editableText' class='span11'>
					<button type="button" ng-click='shuffle()' class="btn unfancy-link">
						<i class="icon-random"></i>
					</button>
					</div>
					{{staticText}}
				</p>
			</blockquote>
			<a ng-disabled='!review.user.twitter_id' href='#' ng-click="tweet()" class="btn btn-twitter pull-right" ps-loading='tweeting'>Tweet&nbsp;&nbsp;<i class='icon-twitter'></i></a>
			<span class="pull-right prm pts">{{count}}</span>

			<a ui-if='!review.user.twitter_id' target="_self" href="/users/auth/twitter?force_login=false&image_size=original&redirect_uri={{ '' | currentUrl | urlEncode }}" class="btn btn-twitter">Connect to twitter&nbsp;&nbsp;<i class='icon-twitter'></i></a>
		</div>
	</div>
</div>
