<div id='conversations' class="container pbl">

	<div class="row ptl">
		<div class="span-mobile center">

			<div class="row-fluid filter" ng-class="selectedFilter">
				<div class="title">
					<a href="#" ng-click="filter('all')" title='all'>Conversations</a>
				</div>
				<div class="selections">
					<a href="#" ng-click='filter("waiting")' class='waiting' ng-class="{active: (selectedFilter == 'waiting' || selectedFilter == 'all')}" title='waiting'>
						{{app.currentUser.waiting_conversations_count}}
					</a>
					<a href="#" ng-click='filter("ready")' class='ready' ng-class="{active: (selectedFilter == 'ready' || selectedFilter == 'all')}" title='ready'>
						{{app.currentUser.ready_conversations_count}}
					</a>
					<a href="#" ng-click='filter("ended")' class='ended' ng-class="{active: (selectedFilter == 'ended' || selectedFilter == 'all')}" title='ended'>
						{{app.currentUser.ended_conversations_count}}
					</a>
				</div>
				<div class="selection">
					<h5 class="faded">{{selectedFilter}}</h5>
				</div>

			</div>

			<div class="row-fluid">
				<div class="span12" ng-show='conversations.collection.length == 0'>
					<a href="#" ng-click="app.randomSpace()"><h3>Meet someone random?</h3></a>
				</div>
			</div>

			<div infinite-scroll='loadMoreConversations()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
				<div ng-repeat="conversation in conversations.collection">
					<div ng-include="'<%= asset_path('conversations/conversation.html') %>'" ng-controller="ConversationsPartialCtrl" onload='init({animateExit:true})'></div>
				</div>
			</div>
		</div>
	</div>

</div>
