<div id='conversations' class="container pbl">

	<div class="row ptl">
		<div class="span-mobile center">
			<div class="row-fluid faded">
				<div class="span12">
					conversations
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4" tooltip="{{selectedFilter != 'ready' && ' Show Only Ready' || 'Show All'}}">
					<a href="#" ng-click='filter("ready")' class='faded'>
						<i class="icon-circle-blank color-green prs" ng-class="{faded: (selectedFilter && selectedFilter != 'ready')}"></i>
						{{app.currentUser.ready_conversations_count}}
					</a>
				</div>
				<div class="span4" tooltip="{{selectedFilter != 'waiting' && 'Show Only Waiting' || 'Show All'}}">
					<a href="#" ng-click='filter("waiting")' class='faded'>
						<i class="icon-time color-yellow prs" ng-class="{faded: (selectedFilter && selectedFilter != 'waiting')}"></i>
						{{app.currentUser.waiting_conversations_count}}
					</a>
				</div>
				<div class="span4" tooltip="{{selectedFilter != 'ended' && 'Show Only Ended' || 'Show All'}}">
					<a href="#" ng-click='filter("ended")' class='faded'>
						<i class="icon-remove-circle color-red prs" ng-class="{faded: (selectedFilter && selectedFilter != 'ended')}"></i>
						{{app.currentUser.ended_conversations_count}}
					</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12" ng-show='conversations.collection.length == 0'>
					<h3 class='faded'>You should start one.</h3>
				</div>
			</div>
			<div infinite-scroll='loadMoreConversations()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
				<div class="row-fluid" ng-repeat="conversation in conversations.collection">
					<div class="span12">
						<hr/>
						<a ng-href="/conversations/{{conversation.id}}?message_id={{conversation.last_message_id}}" class='unfancy-link'>
							<div class="row-fluid">
								<div class="span12">
									<small class='faded'>{{conversation.updated_at | date:"MMMM d, yyyy"}}</small>
								</div>
							</div>
							<!-- <div class="row-fluid">
								<div class="span12">
									<small>{{conversation.prompt}}</small>
								</div>
							</div> -->
							<div class="row-fluid">
								<div class="span12">
									<img ng-src="{{conversation.from.avatar.thumb_url}}" alt="{{conversation.from.name}}" class="img-circle img-border img-mini">
									<img ng-src="{{conversation.to.avatar.thumb_url}}" alt="{{conversation.to.name}}" class="img-circle img-border">
								</div>
							</div>
							<div class="row-fluid ptm">
								<div class="span12">
									<small ng-hide='conversation.from.id == app.currentUser.id'>from</small>
									<small ng-hide='conversation.to.id == app.currentUser.id'>to</small>
									<span ng-hide='conversation.from.id == app.currentUser.id'>{{conversation.from.name}}</span>
									<span ng-hide='conversation.to.id == app.currentUser.id'>{{conversation.to.name}}</span>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12">
									<p class='prompt' ng-bind-html-unsafe="conversation.prompt | linebreaks">{{conversation.prompt}}</p>
								</div>
							</div>
							<div class="row-fluid ptl">
								<div class="span1">
									-
								</div>
								<div class="span11">
									<p class='font18 uncenter' ng-bind-html-unsafe="conversation.last_message_body | linebreaks">{{conversation.last_message_body}}</p>
								</div>
							</div>
							<div class="row-fluid" ng-show="conversation.state != 'ended' && conversation.last_message_from_id != app.currentUser.id">
								<div class="span12">
									<div class='btn btn-link btn-block' ng-click='selectConversation(conversation)'>reply</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
