<div id='conversation' class="container pbl">

	<div class="row">
		<div class="span-mobile center">

			<div ng-include src="'<%= asset_path('conversations/conversation.html') %>'" ng-controller="ConversationsPartialCtrl" onload='init({redirectAfterSuccess: true, toggleExpand: true})'></div>

		</div>
	</div>

</div>
