<div id='conversation' class="container pbl">

	<div class="row">
		<div class="span-mobile center">
			<div class="row-fluid pbl ptl">
				<div class="span12">
					<small class='pull-right faded'>{{conversation.created_at | date:"MMMM d, yyyy"}}</small>
					<a href="/conversations" class="pull-left">
						<i class="icon-arrow-left font20 color-blue"></i>
					</a>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<a ng-href="/{{conversation.to.slug}}" title='{{conversation.to.name}}'>
						<img ng-src="{{conversation.to.avatar.thumb_url}}" alt="{{conversation.to.name}}" class="img-circle img-border">
					</a>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<p class='ptm' ng-bind-html-unsafe="conversation.prompt | linebreaks">{{conversation.prompt}}</p>
				</div>
			</div>

			<hr/>

			<div class="row-fluid" ng-repeat="msg in messages">
				<div class="span12 message pbs" ng-show='show.conversation || msg.id == message.id'>
					<div class="row-fluid">
						<div class="span12 uncenter">
							<small ui-if="msg.id == lastMsg.id" class='pull-right faded'>{{msg.created_at | date:"MMMM d"}}</small>
							<a ng-href="/{{msg.from.slug}}" title='{{msg.from.name}}' class='unfancy-link'>
								<img ng-src="{{msg.from.avatar.thumb_url}}" alt="{{msg.from.name}}" class="img-circle img-border img-mini">
								<small class='from-name faded'>{{msg.from.name}}</small>
							</a>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span12 uncenter">
							<p class='body' ng-bind-html-unsafe="msg.body | linebreaks">{{msg.body}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid" ng-show='conversation.state != "ended" && messages.length > 1'>
				<div class="span12 pbm">
					<a href='#' ng-hide='show.conversation' class='btn btn-block btn-link' ng-click='show.conversation = true'>expand conversation</a>
					<a href='#' ng-show='show.conversation' class='btn btn-block btn-link' ng-click='show.conversation = false'>collapse conversation</a>
				</div>
			</div>

			<div ng-show='conversation.state != "ended" && lastMsg.to.id == app.currentUser.id && (lastMsg.id == message.id || show.conversation)' class="row-fluid reply">
				<div class="span12">
					<!-- <a href="#" class="reply pull-right">reply</a> -->

					<form name='replyForm' class='reply' ng-submit="save('send')" novalidate style='width: 100%;'>
						<control-group>
							<textarea name='body' cols="30" rows="4" ng-model='myMessage.body' id='response_body' placeholder='your response' class='input-block-level' required autofocus></textarea>
						</control-group>

						<div class='control-group'>
							<div class='controls'>
								<button type='submit' class='btn btn-success pull-right' ng-disabled="replyForm.body.$invalid">Reply</button>

								<span class='pull-right'>&nbsp;&nbsp;</span>
								<!-- <a href='#' class='btn pull-right' ng-disabled='savedBody == myMessage.body' ng-click='save()'>Save Draft</a> -->

								<span class='pull-right pts prm' ng-class='{"muted": remainingChars > 10, "text-error": remainingChars <= 10}'>{{remainingChars}}</span>

								<a href='#' class='pull-left' ng-click='end()' tooltip="End the conversation if it's going nowhere. You can always start a new one." tooltip-placement='right'><i class="icon-remove-circle font30 color-red opacity5"></i></a>
							</div>
						</div>
					</form>

				</div>
			</div>

			<div ng-show='conversation.state != "ended" && lastMsg.to.id != app.currentUser.id' class="row-fluid ptm">
				<div class="span12 well center">
					Awaiting reply from {{lastMsg.to.name}}
				</div>
			</div>

			<div ng-show='conversation.state == "ended"' class="row-fluid ptl">
				<div class="span12 well well-small center" tooltip='This conversation has ended. If you have more to say you may start a new one.' tooltip-placement='bottom'>
					The end.
				</div>
			</div>

		</div>
	</div>

</div>
