<%= content_for :javascripts do %>
	<script type="text/javascript">
		if ($.support.pjax) {
			$(document).on('click', '#landing a', function(event) {
				$.pjax.click(event, {container: '#pjax_container'})
				$(document).on('pjax:complete', function() {
					$(document).ready(function(){
						angular.bootstrap('html', ['ps'])
					});
				})
			})
		}
	</script>
<% end %>

<div id="landing">
	<div id="wrapper">

		<div class="header">
			<div class="container-fluid">
				<div class="row-fluid center">
					<div class="span12 ptl pbl">
						<a href="/login" class="login opacity7 opacity-full-hover">Log in</a>
						<img src="<%= asset_path('ps_logo@2x.png') %>" alt='Positive Space' class='logo' style='height:50px;' height='50'>
					</div>
				</div>
			</div>
		</div>

		<div class="hero">
			<div class="container">
				<div class="row-fluid">
					<div class="span12 center ptl pbl">
						<h3 class=''>
							Positive Space
						</h3>
						<h1 class=''>
							Put some constraints on conversation.
						</h1>
						<p class='lead ptm pbm'>
							Supplement your inbox with a highly focused Space.
						</p>
						<a href="/register" class="cta btnf btnf-huge mbm">
							Create your Space
						</a>
						<h3 class="">
							Cut the noise.
						</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="steps">
			<div class="container ptl pbs mtl">
				<div class="row-fluid">
					<div class="span4">
						<div class="media">
							<div class="media-object center">
								<i class="icon-lightbulb icon-4x icon-muted pull-left" style='width:60px;'></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading faded">1.</h4>
								<p>Prompt the conversation you want to have in 250 character or less.</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<div class="media-object center">
								<i class="icon-heart icon-4x icon-muted pull-left" style='width:60px;'></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading faded">2.</h4>
								<p>Share your Space instead of your email when you don't want your time wasted.</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<div class="media-object center">
								<i class="icon-rocket icon-4x icon-muted pull-left" style='width:60px;'></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading faded">3.</h4>
								<p>Receive turn based, character limited, one person at a time conversations, beautifully formatted for your browser and your inbox.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="middle">
			<div class="container ptl pbl">
				<div class="row-fluid">
					<div class="span12">
						<a href="/register" class="btnf btnf-blue mll">
							Create your Space
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="social">
			<div class="container social ptl pbl">
				<div class="row-fluid">
					<div class="span4">
						<div class="media">
							<div class="media-object">
								<i class="icon-quote-left icon-2x icon-muted pull-left"></i>
							</div>
							<div class="media-body">
								<p>It's like a social network for introverts.</p>
								<small class='faded'>- Some guy</small>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<div class="media-object">
								<i class="icon-quote-left icon-2x icon-muted pull-left"></i>
							</div>
							<div class="media-body">
								<p>It's like bondage for my mind.</p>
								<small class='faded'>- ...</small>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<div class="media-object">
								<i class="icon-quote-left icon-2x icon-muted pull-left"></i>
							</div>
							<div class="media-body">
								<p>I'd rather not talk to people... But sometimes I have no choice.</p>
								<small class='faded'>- Chris S.</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="closing">
			<div class="container pbl">
				<div class="row-fluid">
					<div class="span12">
						<a href="/register" class="btnf btnf-red pull-right mrl">
							Create your Space
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="layout_footer"></div>
	</div>

	<div id='footer' class="footer">
		<div class="container">
			<div class="row-fluid ptm">
				<div class="span12 ptl">
					<a href="/purpose" class='opacity5 opacity-full-hover'>purpose</a>
					&middot;
					<!-- <a href="#" class='opacity5 opacity-full-hover hidden-phone' onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">feedback &middot;</a> -->
					<a href="/terms" class='opacity5 opacity-full-hover'>terms</a>
					&middot;
					<a href="/privacy" class='opacity5 opacity-full-hover'>privacy</a>
					&middot;
					<a href="/jobs" class='opacity5 opacity-full-hover'>jobs</a>
					&middot;
					<a href="/contact" class='opacity5 opacity-full-hover'>contact</a>
					&middot;
					<a href="https://www.facebook.com/positivespaceny" target="_blank" class='opacity5 opacity-full-hover font14'><i class="icon-facebook"></i></a>
					&middot;
					<a href="https://twitter.com/positivespaceny" target="_blank" class='opacity5 opacity-full-hover font14'><i class="icon-twitter"></i></a>
					&middot;
					<a href="https://plus.google.com/u/0/113053261118413468238" target="_blank" class='opacity5 opacity-full-hover font14'><i class="icon-google-plus"></i></a>
					&middot;
					<span class='faded'>Made with love in NYC</span>
					&middot;
					<span class='faded'>Positive Space &copy; <%= Time.now.year %></span>
				</div>
			</div>
		</div>
	</div>

</div>
