<%= content_for :javascripts do %>
	<script type="text/javascript">
		if ($.support.pjax) {
			$(document).on('click', '#landing a', function(event) {
				$.pjax.click(event, {container: '#pjax_container'})
				$(document).on('pjax:complete', function() {
					$(document).ready(function(){
						angular.bootstrap('html', ['ps'])
					});
				})
			})
		}
	</script>
<% end %>

<div id="landing">
	<div class="bg">
		<div class="overlay"></div>
	</div>
	<div id="wrapper">

		<a href="/register" class="logo">
			<%= image_tag 'ps_logo@2x.png' %>
		</a>

		<div class="hero">
			<div class="container">
				<div class="row-fluid">
					<div class="span12 center ptl pbl">
						<h2 class=''>
							Positive Space
						</h2>
						<h1 class=''>
							Define how the world talks to you.
						</h1>
						<h3 class=''>
							Supplement your inbox with a highly focused Space.
						</h3>
						<div class='login-btns'>
							<a href="/login" class="login btnf btnf-huge">
								Log in
							</a>
							&nbsp;
							<a href="/register" class="register btnf btnf-huge">
								Create your Space
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a href="/purpose" class='purpose opacity6 opacity-full-hover'>Purpose</a>
		<a href="/terms" class='terms opacity6 opacity-full-hover'>Terms & Privacy</a>
	</div>

</div>
