= content_for :javascripts do
	:coffeescript

%br
.container
	.row-fluid
		.span4
			%h1
				This is only a test
			%p
				Locavore high life street art trust fund umami small batch fixie.  Plaid hoodie street art you probably haven't heard of them viral.  Disrupt stumptown cosby sweater street art skateboard, VHS artisan marfa master cleanse fingerstache +1 ethnic literally.  Portland literally chambray high life shoreditch jean shorts selvage.  Chambray sriracha helvetica mcsweeney's, 8-bit artisan selvage ethical pitchfork pinterest carles yr retro meggings.  Try-hard vinyl cosby sweater, tonx food truck selfies tousled typewriter vegan flexitarian direct trade  butcher fingerstache sriracha.  Semiotics scenester bespoke VHS, next level vice iphone street art tofu Austin cosby sweater fap.
		.span4.pyramid.box-pop
			%h2.text-inset
				This is only a test
			%p
				%em
					Actually hoodie odd future selvage, bicycle rights seitan chambray ennui kogi mumblecore pinterest hashtag keytar.  Readymade retro pug fanny pack, hoodie portland pour-over pickled.  Pour-over trust fund meh photo booth, sriracha wes anderson lo-fi.  Retro aesthetic selvage flannel, iphone fixie try-hard hashtag marfa.  3 wolf moon beard quinoa, cray scenester iphone etsy echo park carles brooklyn mcsweeney's neutra artisan.  Organic whatever kale chips mcsweeney's bushwick readymade, scenester beard keytar church-key disrupt helvetica.  Beard kale chips swag, you probably haven't heard of them brunch 8-bit tousled leggings wayfarers echo park thundercats literally biodiesel mumblecore.

		.span4
			%h3.text-outset
				This is only a test
			%p
				%b
					Actually hoodie odd future selvage, bicycle rights seitan chambray ennui kogi mumblecore pinterest hashtag keytar.  Readymade retro pug fanny pack, hoodie portland pour-over pickled.  Pour-over trust fund meh photo booth, sriracha wes anderson lo-fi.  Retro aesthetic selvage flannel, iphone fixie try-hard hashtag marfa.  3 wolf moon beard quinoa, cray scenester iphone etsy echo park carles brooklyn mcsweeney's neutra artisan.  Organic whatever kale chips mcsweeney's bushwick readymade, scenester beard keytar church-key disrupt helvetica.  Beard kale chips swag, you probably haven't heard of them brunch 8-bit tousled leggings wayfarers echo park thundercats literally biodiesel mumblecore.
	%hr
	.row-fluid
		.span4
			%h4
				This is only a test
			%p
				Locavore high life street art trust fund umami small batch fixie.  Plaid hoodie street art you probably haven't heard of them viral.  Disrupt stumptown cosby sweater street art skateboard, VHS artisan marfa master cleanse fingerstache +1 ethnic literally.
		.span4
			%h4
				This is only a test
			%p
				Locavore high life street art trust fund umami small batch fixie.  Plaid hoodie street art you probably haven't heard of them viral.  Disrupt stumptown cosby sweater street art skateboard, VHS artisan marfa master cleanse fingerstache +1 ethnic literally.
		.span4
			%h4
				This is only a test
			%p
				Locavore high life street art trust fund umami small batch fixie.  Plaid hoodie street art you probably haven't heard of them viral.  Disrupt stumptown cosby sweater street art skateboard, VHS artisan marfa master cleanse fingerstache +1 ethnic literally.