<div id="about" class="container">
    <div class="row-fluid">
        <div class="offset3 span6 well">
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <h3>"It's like a social network for introverts!"</h3>
                        <small>An Extrovert</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote class='pull-right'>
                        <h3 class='text-align-right'>"That's so simple. I like how there is nothing to do."</h3>
                        <small>A Friend</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <h3>"It's nice honey."</h3>
                        <small>My Mom</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote class='pull-right'>
                        <h3 class='text-align-right'>"I wanted to build a protocol for distributing human capital, but that seemed hard so I settled for a dumbed down Twitter."</h3>
                        <small>Me</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
