<div id="about" class="container">
    <div class="row-fluid">
        <div class="offset2 span8 well">
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <h3>"It's like a social network for introverts!"</h3>
                        <small>An Extrovert</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote class='pull-right'>
                        <h3 class='text-align-right'>"That's so simple. I like how there is nothing to do."</h3>
                        <small>Someone's Friend</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <h3>"I love how easy it is to not talk to people here. There is litterally a button on every message encouraging you to tell whoever you're talking to to stop talking."</h3>
                        <small>Random Guy On The Street</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote class='pull-right'>
                        <h3 class='text-align-right'>"This may actually be useful if you are a hippie or a hipster or generally hip."</h3>
                        <small>My Girlfriend</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <h3>"It's nice honey."</h3>
                        <small>Mom</small>
                    </blockquote>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <blockquote class='pull-right'>
                        <h3 class='text-align-right'>"I wanted to build a protocol for distributing human capital, like peer 2 peer with real people, but that seemed hard so I settled for a dumbed down Twitter."</h3>
                        <small>The Programmer</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
