<div id="about" class="container">
    <div class="row-fluid">
        <div class="offset2 span8">
            <h2 class='faded'>What is Positive Space?</h2>

            <h3 class='muted'>
                Positive Space is the simplest place to have a thoughtful conversation with new aquaintances and old friends online.
            </h3>

            <p class='lead'>
                We believe that it is too hard to start a conversation with a stranger. A lot of good ideas and relationships are missed because the right people never talk.
            </p>

            <p class='lead muted'>
                Embed a +_ on your website, or link directly to your personalized Positive Space contact form. You prompt for the type of contact you want: feedback, pitches, stories, co-founders. All contact is limited to 250 chars and we make it easy for you to follow up or end the conversation in just one click. Use it to collect stories for your blog. Manage pitches to your store. Even find your future co-founder. It's yours to personalize.
            </p>

            <p class='lead'>
                Let the people and content you want come to you.
            </p>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="offset2 span8">
            <h2 class='faded'>Team</h2>
            <br/>
            <a href="/christopher" class='unfancy-link'>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="img-toggle pull-left">
                            <img src="<%= asset_path 'chris_headshot.jpg' %>" class="headshot img-border img-circle"></img>
                            <img src="<%= asset_path 'chris_wtf.jpg' %>" class="wtf img-border img-circle"></img>
                        </div>
                        <div class='pull-left pll'>
                            <h4>Christopher Smothers</h4>
                            <p>Development</p>
                        </div>
                    </div>
                </div>
            </a>
            <br/>
            <a href="/ryan" class='unfancy-link'>
                <div class="row-fluid">
                    <div class="span12">
                        <span class="img-toggle pull-left">
                            <img src="<%= asset_path 'ryan_headshot.jpg' %>" class="headshot img-border img-circle"></img>
                            <img src="<%= asset_path 'ryan_wtf.jpg' %>" class="wtf img-border img-circle"></img>
                        </span>
                        <div class='pull-left pll'>
                            <h4>Ryan Vanderbilt</h4>
                            <p>Design</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
