<div class="container">
	<div class="row">
		<div class="span12">
			<h1>home page stuff {{hello}}</h1>
			{{app.currentUser}}


			</br>
			</br>
			<form name='psRegister'>
				<input type='email' name='email' ng-model='app.preLogin.email' placeholder='email' required>
				<input type='text' name='username' ng-model='app.preLogin.username' placeholder='username' required>
				<input type='password' name='password' ng-model='app.preLogin.password' placeholder='password' required>
				<button class='btn' ng-click='app.register()'>register</button>
			</form>
			</br>
			</br>
			<form name='psLogin'>
				<input type='text' name='login' ng-model='app.preLogin.login' placeholder='username or email' required>
				<input type='password' name='password' ng-model='app.preLogin.password' placeholder='password' required>
				<input type='checkbox' name='rememberMe' ng-model='app.preLogin.rememberMe' placeholder='remember me'>
				<button class='btn' ng-click='app.login()'>login</button>
			</form>
			</br>
			</br>
			
			<button class='btn' name='psLogout' ng-click='app.logout()'>logout</button>
		</div>
	</div>
</div>
