<div class="container">
	<div class="row">
		<div class="span12">
			<h1>home page stuff</h1>
			{{app.currentUser}}


			</br>
			</br>

			<form name='userRegister' class='form-inline' ng-submit='app.register()'>
				<ps-input type='email' placeholder='email' model='app.preLogin.email' required></ps-input>
				<ps-input type='text' placeholder='username' model='app.preLogin.username' required></ps-input>
				<ps-input type='password' placeholder='password' model='app.preLogin.password' required></ps-input>
				<button type='submit' class='btn'>register</button>
			</form>
			</br>
			</br>

			<form name='userLogin' class='form-inline' ng-submit='app.login()'>
				<ps-input type='text' name='login' placeholder='username or email' model='app.preLogin.login' required></ps-input>
				<ps-input type='password' placeholder='password' model='app.preLogin.password' required></ps-input>
				<ps-input type='checkbox' placeholder='rememberMe' model='app.preLogin.rememberMe'></ps-input>
				<button type='submit' class='btn'>login</button>
			</form>
			</br>
			</br>

			<form name='userResetPassword' class='form-inline' ng-submit='app.resetPassword()'>
				<ps-input type='text' name='login' placeholder='username or email' model='app.preLogin.login' required></ps-input>
				<button type='submit' class='btn'>send reset password email</button>
			</form>
			</br>
			</br>
			
			<button class='btn' name='psLogout' ng-click='app.logout()'>logout</button>
		</div>
	</div>
</div>
