<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<h1>
				Positive Space
			</h1>
			<h2>
				Realize your dreams faster.
			</h2>
			<p class="lead">
				We connect
			</p>


			<!-- <h2>
				The focused network of helpful entrepreneurs.
			</h2>
			<h3>
				Cut through the noise to your most pressing question, thought, or idea.
			</h3>
			<p>
				Pose it in the form of a 250 character question.
			</p>
			<h3>
				Then go find someone who you can help. The more people you help, the more people we will send to your question.
			</h3> -->

		</div>
	</div>
</div>
