<div id="jobs" class="container">
    <div class="row-fluid">
        <div class="offset2 span8">
            <h2>Join us</h2>
            <p class='lead'>
                We are always looking for generous people to work with. Send your resume to jobs@positivespace.io
            </p>
        </div>
    </div>
</div>
