<div id="purpose">

	<div class="container">
		<div class="row-fluid">
			<div class="offset2 span10 pll">
				<h1 class='faded'>Purpose</h1>
				<h2 class='ptl'>Have great conversations,</h2>
				<h3 class='pts pbl'>by focusing on what matters most to you.</h3>
			</div>
		</div>
	</div>

	<div class="btg bbg ptl pbl">
		<div class="container">
			<div class="row">
				<div class="offset3 span-mobile pll font18">
					We want to be the best place to have a thoughtful conversation with new acquaintances and old friends.
				</div>
			</div>
		</div>
	</div>

	<div class="ptl pbl">
		<div class="container">
			<div class="row-fluid">
				<div class="offset4 span-mobile pll font18">
					We believe that it's too hard to start a conversation with a stranger. A lot of good ideas and relationships are missed because the right people never talk.
				</div>
			</div>
		</div>
	</div>

	<div class="btg bbg ptl pbl">
		<div class="container">
			<div class="row">
				<div class="offset3 span-mobile pll font18">
					We plan to change all of that by giving everyone a focused space to listen. We connect people through mutual interests, serendipity, and simplicity.
				</div>
			</div>
		</div>
	</div>

	<div class="ptl pbl">
		<div class="container">
			<div class="row-fluid">
				<div class="offset4 span-mobile pll font18">
					Our dream is to build a global neighborhood that is powered by understanding.
				</div>
			</div>
		</div>
	</div>

	<div class="btg bbg ptl pbl">
		<div class="container">
			<div class="row-fluid">
				<div class="offset2 span-mobile pll">
					<h4 class='faded'>Frequently Asked Questions</h4>
					<accordion close-others="true">
						<accordion-group heading="How does this work?">
							Visit a space and start a conversation with its owner by responding to the prompt.
							<br/>
							<br/>
							At the beginning brevity is prised. As a conversation continues you will be able to write longer messages.
							<br/>
							<br/>
							The one thing we ask is that you don't waist anyone's time. Attempting to alleviate ignorance and exploring new ideas is fine, spam and shameless self-promotion are not.
						</accordion-group>
						<accordion-group heading="What kind of conversations can I prompt?">
							Any kind you want.
							<br/>
							<br/>
							Collect stories for your blog. Manage pitches to your store. Find your future co-founder.
							<br/>
							<br/>
							Try to make the prompt personal and relevant to your interests.
						</accordion-group>
						<accordion-group heading="Etiquette">
							Civility is required at all times; rudeness will not be tolerated.
							<br/>
							<br/>
							<b>Be nice.</b>
							<br/>
							Treat others with the same respect you'd want them to treat you. We're all here to learn together. Be tolerant of others who may not know everything you know. Bring your sense of humor.
							<br/>
							<br/>
							<b>Be honest.</b>
							<br/>
							Above all, be honest. You should never say more than you feel comfortable, but we request that you do your best to tell the truth.
						</accordion-group>
						<accordion-group heading="Do I have to log in or create an account?">
							Yes. In order to provide the best experience to everyone you must create an account to send a message or create a space.
							<br/>
							<br/>
							Your email will never be shared and your name can be a pseudonym if you wish to remain anonymous.
							<br/>
							<br/>
							We encrypt and hash all passwords and support SSL https urls on all pages. The security of your information is of the utmost importance to us.
						</accordion-group>
						<accordion-group heading="What is endorsement?">
							Anyone can create a space and share it amongst her friends.
							<br/>
							<br/>
							<b>Only endorsed spaces are publicly visible on this website.</b> This helps control the quality of the spaces that most people see.
						</accordion-group>
						<accordion-group heading="How do I get endorsed?">
							Have more conversations.
							<br/>
							<br/>
							Everyone who is endorsed may endorse a limited number of people whom they trust to uphold the community's values. Start some conversations and get to know more people. One way or another you will get endorsed ; )
							<br/>
							<br/>
							If you think it's taking too long to get endorsed, <a href="/contact">contact us</a> and we will help you out.
							<br/>
							<br/>
							<b>Please do not spam people asking for endorsement.</b> Nobody wants that.
						</accordion-group>
						<accordion-group heading="What if I see bad things happening?">
							Email us at <a href="mailto:support@positivespace.io?Subject=I%20noticed%20something%20bad%20happening">support@positivespace.io</a>
						</accordion-group>
						<accordion-group heading="May I promote products or websites I am affiliated with here?">
							Be careful. The community frowns on overt self-promotion.
							<br/>
							<br/>
							Only start conversations with people in response to the prompt in their space.
							<br/>
							<br/>
							You are free to make your own prompt whatever you like.
						</accordion-group>
					</accordion>
				</div>
			</div>
		</div>
	</div>

	<div class="ptm pbl">
		<div class="container">
			<div class="row-fluid">
				<div class="offset3 span-mobile pll">
					<h3 class='faded'>Team</h3>
					<div class="row-fluid">
						<div class="span12">
							<a href="/christopher" class='unfancy-link'>
								<div class="img-toggle pull-left">
									<img src="<%= asset_path 'chris_headshot.jpg' %>" class="headshot img-border img-circle"></img>
									<img src="<%= asset_path 'chris_wtf.jpg' %>" class="wtf img-border img-circle"></img>
								</div>
							</a>
							<div class='pull-left pll'>
								<a href="/christopher" class='unfancy-link'>
									<h4>Christopher Smothers</h4>
								</a>
								<div>
									Breaker
								</div>
								<div class='ptm'>
									<a href="http://twitter.com/soupcellar" target="_blank" class='unfancy-link prm' title='twitter'><i class="icon-twitter"></i></a>
									<a href="http://www.linkedin.com/pub/christopher-smothers/17/115/201" target="_blank" class='unfancy-link prm' title='linkedin'><i class="icon-linkedin"></i></a>
									<a href="https://github.com/smothers" target="_blank" class='unfancy-link prm' title='github'><i class="icon-github"></i></a>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="row-fluid">
						<div class="span12">
							<a href="/ryan" class='unfancy-link'>
								<span class="img-toggle pull-left">
									<img src="<%= asset_path 'ryan_headshot.jpg' %>" class="headshot img-border img-circle"></img>
									<img src="<%= asset_path 'ryan_wtf.jpg' %>" class="wtf img-border img-circle"></img>
								</span>
							</a>
							<div class='pull-left pll'>
								<a href="/ryan" class='unfancy-link'>
									<h4>Ryan Vanderbilt</h4>
								</a>
								<div>
									Fixer
								</div>
								<div class='ptm'>
									<a href="http://twitter.com/ryan_vanderbilt" target="_blank" class='unfancy-link prm' title='twitter'><i class="icon-twitter"></i></a>
									<a href="http://www.linkedin.com/pub/ryan-vanderbilt/10/290/25b" target="_blank" class='unfancy-link prm' title='linkedin'><i class="icon-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
