// Font Sizes ---------------------------------------------------------

$base-font-size     : 14px
$base-line-height   : 21px

// Colors -------------------------------------------------------------

$color-background:          darken(#4F2958, 5%)
$color-font:                #666
$color-darklight:           #5B7C8D
$color-highlight:           #66B6AB
$color-win:                 #A6F6AF

$color-positive:            #74b92b
$color-negative:            #b91e2a
$color-neutral:             #d2d3d3
$color-positive-dark:       darken($color-positive, 10%)
$color-negative-dark:       darken($color-negative, 10%)
$color-neutral-dark:        darken($color-neutral, 10%)


// Reset --------------------------------------------------------------

// @import "h5bp"

// @include h5bp-display
// @include h5bp-base
// @include h5bp-links
// @include h5bp-typography
// @include h5bp-lists
// @include h5bp-embeds
// @include h5bp-figures
// @include h5bp-forms
// @include h5bp-tables


// Compass -------------------------------------------------------------

@import "compass/css3"
@import "compass/utilities"
@import "compass/reset/utilities"
@import "compass/layout/sticky-footer"


// Mixins --------------------------------------------------------------

@mixin sans
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-style: normal
    font-weight: 300

@mixin serif
    font-family: Georgia, Times, "Times New Roman", serif
    font-style: normal
    font-weight: 300

@mixin inset-text
    -webkit-text-stroke: 0
    color: transparent
    background-color: rgba(82,96,117,0.5)
    @include background-clip(text)
    text-shadow: rgba(255,255,255,0.5) 0 5px 6px
