.amp
	//http://css-tricks.com/snippets/css/fancy-ampersand/
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif
	font-style: italic
	font-weight: normal

.bgw
	background: white
.bgg
	background: #eee

.box-pop
	@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5))

.br3
	@include border-radius(3px)

.bd
	border: 1px dashed #ddd

.bg
	border: 1px solid #eee
.btg
	border-top: 1px solid #eee
.bbg
	border-bottom: 1px solid #eee

.btn
	@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5))

.btn-facebook
	@include background-image(none)
	@include text-shadow(none)
	background-color: #3B5998
	color: white
	&:hover
		background-color: lighten(#3B5998, 10%)
		color: white


// Button Flip
.btnf
	position: relative
	color: black
	background: white
	border: 3px solid black
	padding: 10px 20px
	font-weight: bold
	// letter-spacing: 0.1em
	white-space: nowrap
	@include transition-property(color, background)
	@include transition-duration(0.3s)
	@include border-radius(3px)
	&:visited
		background: white
		&:after
			border-color: rgba(255, 255, 255, 0)
			border-top-color: #ffffff
	&:before
		display: none
		position: absolute
		content: ""
		bottom: -19px
		left: 10px
		height: 0
		width: 0
		border: solid transparent
		border-color: rgba(0, 0, 0, 0)
		border-top-color: #000000
		border-width: 8px
	&:after
		@include transition-property(border-color, border-top-color)
		@include transition-duration(0.3s)
		display: none
		position: absolute
		content: ""
		bottom: -12px
		left: 12px
		height: 0
		width: 0
		border: solid transparent
		border-color: rgba(255, 255, 255, 0)
		border-top-color: #ffffff
		border-width: 6px
	&:hover
		color: white
		background: black
		&:after
			border-color: rgba(255, 255, 255, 0)
			border-top-color: #ffffff

.btnf-respond
	color: $color-blue
	border-color: $color-blue
	&:before
		display: block
		border-color: rgba(0, 192, 255, 0)
		border-top-color: $color-blue
	&:after
		display: block
	&:hover, &:visited:hover
		background: $color-blue
		&:after
			border-color: rgba(0, 192, 255, 0)
			border-top-color: $color-blue

.btnf-follow
	color: $color-purple
	border-color: $color-purple
	&:hover, &.active
		color: white
		background: $color-purple
	&:hover.active
		color: $color-purple
		background: white

.btnf-success
	color: $green
	border-color: $green
	&:hover, &.active
		color: white
		background: $green
	&:hover.active
		color: $green
		background: white

.btnf-start
	color: white
	border-color: $yellow
	background: lighten($yellow, 10%)
	&:hover, &.active, &:visited:hover
		color: white
		background: $yellow
	&:hover.active, &:visited
		color: white
		background: lighten($yellow, 10%)

.btnf-huge
	font-size: 30px
	line-height: 30px
	padding: 15px 30px

.center
	float: none
	text-align: center
	margin: 0 auto

.circle
	@include border-radius(500px)

.clearfix
	@include clearfix


// Colors
.color-background
	color: $color-background

.color-text
	color: $color-text

.color-primary
	color: $color-primary

.color-danger
	color: $color-danger

.color-blue
	color: $color-blue

.color-green
	color: $green

.color-orange
	color: $color-orange

.color-purple
	color: $color-purple

.color-red
	color: $red //#E74C3C

.color-yellow
	color: $yellow //#FFE545

// Social Colors
.color-blogger
	color: $color-blogger
	&:hover
		color: lighten($color-blogger, 5%)

.color-facebook
	color: $color-facebook
	&:hover
		color: lighten($color-facebook, 5%)

.color-flickr
	color: $color-flickr
	&:hover
		color: lighten($color-flickr, 5%)

.color-foursquare
	color: $color-foursquare
	&:hover
		color: lighten($color-foursquare, 5%)

.color-google
	color: $color-google
	&:hover
		color: lighten($color-google, 5%)

.color-instagram
	color: $color-instagram
	&:hover
		color: lighten($color-instagram, 5%)

.color-linkedin
	color: $color-linkedin
	&:hover
		color: lighten($color-linkedin, 5%)

.color-pinterest
	color: $color-pinterest
	&:hover
		color: lighten($color-pinterest, 5%)

.color-quora
	color: $color-quora
	&:hover
		color: lighten($color-quora, 5%)

.color-reddit
	color: $color-reddit
	&:hover
		color: lighten($color-reddit, 5%)

.color-rss
	color: $color-rss
	&:hover
		color: lighten($color-rss, 5%)

.color-stumbleupon
	color: $color-stumbleupon
	&:hover
		color: lighten($color-stumbleupon, 5%)

.color-tumblr
	color: $color-tumblr
	&:hover
		color: lighten($color-tumblr, 5%)

.color-twitter
	color: $color-twitter
	&:hover
		color: lighten($color-twitter, 5%)

.color-vimeo
	color: $color-vimeo
	&:hover
		color: lighten($color-vimeo, 5%)

.color-vimeo
	color: $color-vimeo
	&:hover
		color: lighten($color-vimeo, 5%)

.color-youtube
	color: $color-youtube
	&:hover
		color: lighten($color-youtube, 5%)



.display-block
	display: block

.display-inline-block
	display: inline-block

.dropdown-menu.drop-left
	right: 0
	left: auto

.faded
	color: #bfbfbf

.font64
	font-size: 64px
.font48
	font-size: 48px
.font30
	font-size: 30px
.font28
	font-size: 28px
.font26
	font-size: 26px
.font24
	font-size: 24px
.font22
	font-size: 22px
.font20
	font-size: 20px
.font18
	font-size: 18px
	line-height: 26px
.font16
	font-size: 16px
.font14
	font-size: 14px
.font12
	font-size: 12px
.font10
	font-size: 10px

.font-normal
	font-weight: normal

.font-bold
	font-weight: bold

.font-thin
	font-weight: 200

.font-skinny
	font-weight: 100

.ghost
	color: $color-ghost
.ghost-hover:hover
	color: $color-ghost

.height0
	height: 0

.hidden
	visibility: hidden

.img-big-thumb
	width: 111px
	height: 111px

.img-border
	@extend .img-polaroid
	padding: 0

.img-thumb
	width: 64px
	height: 64px

.img-mini
	width: 32px
	height: 32px

.img-nano
	width: 16px
	height: 16px

.m0
	margin: 0
.mt10
	margin-top: 10px
.mt-10
	margin-top: -10px

.off-screen
	position: absolute
	left: -999px

.opacity0
	opacity: 0.0
	pointer-events: none
.opacity1
	opacity: 0.1
.opacity2
	opacity: 0.2
.opacity3
	opacity: 0.3
.opacity4
	opacity: 0.4
.opacity5
	opacity: 0.5
.opacity6
	opacity: 0.6
.opacity7
	opacity: 0.7
.opacity8
	opacity: 0.8
.opacity9
	opacity: 0.9
.opacity-full-hover
	@include transition-property(opacity)
	@include transition-duration(0.4s)
	&:hover, &:active, &:focus
		@include transition-duration(0.4s)
		opacity: 1

.overflow-hidden
	overflow: hidden

.p0
	padding: 0

.pos-rel
	position: relative

.pyramid
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	color: $color-text
	@include background(image_url("noisy-texture-200x200-o7-d26-c-4F2958-t1.png"), linear-gradient(top, lighten($color-background, 5%), $color-background))
	border: 1px solid darken($color-background, 5%)
	@include border-radius(5px)
	padding: 20px

.span-mobile
	max-width: 400px
	min-width: 280px
	padding-left: 20px
	@media (min-width: 1200px)
		padding-left: 30px
	@media (max-width: 767px)
		padding-left: 0px

.text-align-right
	text-align: right
.text-align-justify
	text-align: justify

.text-inset
	@include text-shadow(0 1px 1px #fff)
.text-outset
	@include text-shadow(1px 1px #333)
.text-shadow
	@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25))

.tooltip-inner
	max-width: 300px

.uncenter
	float: left
	text-align: left
	margin: 0

.underline
	text-decoration: underline

.unfancy-link
	color: $color-text !important
	&:hover
		color: $color-text !important

.vat
	vertical-align: top
.vam
	vertical-align: middle
.vab
	vertical-align: bottom
