.amp
	//http://css-tricks.com/snippets/css/fancy-ampersand/
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif
	font-style: italic
	font-weight: normal

.box-pop
	@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5))

.btn
	@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5))

.btn-facebook
	@include background-image(none)
	@include text-shadow(none)
	background-color: #3B5998
	color: white
	&:hover
		background-color: lighten(#3B5998, 10%)
		color: white

.center
	float: none
	text-align: center
	margin: 0 auto

.clearfix
	@include clearfix

.color-green
	color: $green

.color-yellow
	color: $yellow

.color-red
	color: $red

.color-blue
	color: $color-blue

.display-block
	display: block

.display-inline-block
	display: inline-block

.dropdown-menu.drop-left
	right: 0
	left: auto

.faded
	color: #bfbfbf

.font64
	font-size: 64px
.font30
	font-size: 30px
.font28
	font-size: 28px
.font26
	font-size: 26px
.font24
	font-size: 24px
.font22
	font-size: 22px
.font20
	font-size: 20px
.font18
	font-size: 18px
.font16
	font-size: 16px
.font14
	font-size: 14px
.font12
	font-size: 12px
.font10
	font-size: 10px

.font-normal
	font-weight: normal

.font-bold
	font-weight: bold

.font-thin
	font-weight: 200

.font-skinny
	font-weight: 100

.hidden
	visibility: hidden

.img-big-thumb
	width: 128px
	height: 128px

.img-border
	@extend .img-polaroid
	padding: 0

.img-thumb
	width: 64px
	height: 64px

.img-mini
	width: 32px
	height: 32px

.img-nano
	width: 16px
	height: 16px

.m0
	margin: 0
.mt10
	margin-top: 10px
.mt-10
	margin-top: -10px

.off-screen
	position: absolute
	left: -999px

.opacity0
	opacity: 0.0
	pointer-events: none
.opacity1
	opacity: 0.1
.opacity2
	opacity: 0.2
.opacity3
	opacity: 0.3
.opacity4
	opacity: 0.4
.opacity5
	opacity: 0.5
.opacity6
	opacity: 0.6
.opacity7
	opacity: 0.7
.opacity8
	opacity: 0.8
.opacity9
	opacity: 0.9
.opacity-full-hover
	@include transition-property(opacity)
	@include transition-duration(0.4s)
	&:hover
		@include transition-duration(0.4s)
		opacity: 1

.p0
	padding: 0

.pos-rel
	position: relative

.pyramid
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	color: $color-text
	@include background(image_url("noisy-texture-200x200-o7-d26-c-4F2958-t1.png"), linear-gradient(top, lighten($color-background, 5%), $color-background))
	border: 1px solid darken($color-background, 5%)
	@include border-radius(5px)
	padding: 20px

.span-mobile
	max-width: 320px
	min-width: 280px
	padding-left: 20px
	@media (min-width: 1200px)
		padding-left: 30px
	@media (max-width: 767px)
		padding-left: 0px

.text-align-right
	text-align: right

.text-inset
	@include text-shadow(0 1px 1px #fff)
.text-outset
	@include text-shadow(1px 1px #333)
.text-shadow
	@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25))

.uncenter
	float: left
	text-align: left
	margin: 0

.unfancy-link
	color: $color-text
	&:hover
		color: $color-text

.vat
	vertical-align: top
.vam
	vertical-align: middle
.vab
	vertical-align: bottom
