<div class="modal-body center">
	<h2>Thanks for sharing!</h2>
	<p>Follow Positive Space</p>
	<div class='ptm pbm'>
		<div class="fb-like" data-href="https://www.facebook.com/positivespaceny" data-width="120" data-layout="button_count" data-show-faces="true" data-send="false"></div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://twitter.com/positivespaceny" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow</a>
		<div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/113053261118413468238" data-rel="publisher"></div>
	</div>
</div>
<script type="text/javascript">
	FB.XFBML.parse();
	twttr.widgets.load();
	gapi.follow.go()
</script>
