<div class="control-group" ng-class="{error: field.$invalid && field.$dirty && !noColor, success: field.$valid && field.$dirty && !noColor, focused: hasFocus, unfocused: !hasFocus}">

    <label ui-if='label' class="control-label" for="{{input.id}}">
        {{label}}
    </label>

    <div class="controls">
        <div class='input-wrap'>
            <span ng-transclude></span>

            <span ui-if='maxlength' class="remaining-char-count" ng-class='{"muted": remainingCharCount > 10, "text-error": remainingCharCount <= 10}'>
                {{remainingCharCount}}
            </span>
        </div>

        <span ui-if='helpInline' class="help-inline">
            {{helpInline}}
        </span>

        <p ui-if='helpBlock' class="help-block">
            {{helpBlock}}
        </p>

        <div ui-if='field.$invalid && field.$dirty' class="error-message">
            <div class="inner">
                {{field.errorMessage}}
            </div>
        </div>

    </div>
</div>
