<div class="control-group" ng-class="{error: field.$invalid && field.$dirty, success: field.$valid && field.$dirty, focused: hasFocus}">

    <label ui-if='label' class="control-label" for="{{input.id}}">
        {{label}}
    </label>

    <div class="controls">
        <span ng-transclude></span>

        <span ui-if='helpInline' class="help-inline">
            {{helpInline}}
        </span>

        <p ui-if='helpBlock' class="help-block">
            {{helpBlock}}
        </p>

        <div ui-if='field.$invalid' class="error-message">
            <div class="inner">
                {{field.errorMessage}}
            </div>
        </div>

    </div>
</div>