<form ng-show='resource.accessible_attributes' name='message' class='form-vertical uncenter' ng-submit='submitForm()' novalidate style='width: 100%;'>

	<div ng-repeat='attribute in resource.accessible_attributes'>
		<control-group label='{{attribute.name}}'>
			<input ui-if='attribute.type == "string"' type='text' name='{{attribute.name}}' placeholder='{{attribute.name}}' id='{{attribute.name}}' class='input-block-level' ng-model='resource[attribute.name]'></input>
			<textarea ui-if='attribute.type == "text"' name='{{attribute.name}}' placeholder='{{attribute.name}}' id='{{attribute.name}}' class='input-block-level' ng-model='resource[attribute.name]'></textarea>
		</control-group>
	</div>

	<div class='control-group'>
		<div class='controls'>
			<button type='submit' class='btn btn-success pull-right'>Save</button>
		</div>
	</div>

</form>
