<div class="control-group {{type}}" ng-class='{error: formInput.$invalid, focused: focused}'>

    <label ui-if='hasLabel' class="control-label" for="{{name}}">
        {{label}}
    </label>

    <div class="controls">
        <input type="{{type}}" class="{{class}}" name="{{name}}" title="{{title}}" placeholder="{{placeholder}}" ng-model="model" required='none' ui-event="{focusin: 'focusin()', focusout: 'focusout()'}">

        <span ui-if='hasHelpInline' class="help-inline">
            {{helpInline}}
        </span>

        <p ui-if='hasHelpBlock' class="help-block">
            {{helpBlock}}
        </p>

        <div ui-if='formInput.$invalid' class="error-message">
            <div class="inner">
                {{formInput.$error}}
            </div>
        </div>

    </div>
</div>