<div class="control-group" ng-class="{error: formInput.$invalid, focused: focused}">

    <label ui-if='label' class="control-label" for="{{name}}">
        {{label}}
    </label>

    <div class="controls">
        <span ng-transclude></span>
        <!-- <input ng-model="model" ui-event="{focusin: 'focused = true', focusout: 'focused = false'}"> -->

        <span ui-if='helpInline' class="help-inline">
            {{helpInline}}
        </span>

        <p ui-if='helpBlock' class="help-block">
            {{helpBlock}}
        </p>

        <div ui-if='formInput.$invalid' class="error-message">
            <div class="inner">
                {{formInput.$error}}
            </div>
        </div>

    </div>
</div>