<div ng-show="app.currentUser.id">
	<div class='control-group'>
		<img ng-src="{{app.currentUser.avatar.thumb_url}}" alt="{{app.currentUser.name}}" class="img-circle img-border img-mini">
		&nbsp;
		{{app.currentUser.name}}
	</div>
</div>

<div ng-hide="app.currentUser.id">
	<ng-form name='login' ng-submit='login()'>

		<control-group>
			<input type='email' name='email' id='sbtl_lgn_email' placeholder='your email address' class='input-block-level forgot-password' ng-model='credentials.email' ui-event='{blur: "checkLogin()"}' required></input>
			<i class="icon-lock faded" style="position: absolute; right: 10px; top: 9px;" tooltip="Don't worry, your email is private and never shared. We only need it to notify you of any replies to you message." tooltip-placement="left"></i>
		</control-group>


		<div class="row-fluid" ng-show='credentials.loginType == "register"'>
			<div class="span12">
				<span style='color:#bbb;'>
					<i class="icon-info-sign pull-right" tooltip="Sorry for the inconvenience; in order to protect everyone's identities - sign up is required." tooltip-placement="left" style="padding-right: 8px;"></i>
					sign up to start a conversation
				</span>
			</div>
		</div>
		<div class="row-fluid" ng-show='credentials.loginType == "register"'>
			<div class="span5">
				<control-group>
				    <input type='password' id='reg_password' name='password' placeholder='new password' class='input-block-level' ng-model='credentials.password' ng-minlength='8' ng-maxlength='100' required></input>
				</control-group>
			</div>

			<div class="span5">
				<control-group>
	                <input type='text' name='username' id='reg_username' class='input-block-level' ng-model='credentials.username' ng-minlength='3' ng-maxlength='18' ng-pattern='/^[a-zA-Z][a-zA-Z0-9-]*$/' ui-event='{keyup: "checkUsername($value)", blur: "login()", keypress: "enterLogin($event)"}' ui-validate='{usernameTaken: "usernameTaken"}' ui-validate-watch='"usernameTaken"' required></input>
	            </control-group>
			</div>

			<div class="span1">
				<div class="center ptx">or</div>
			</div>

			<div class="span1">
				<a href="#" ng-click='fbLogin()' class="btn btn-block btn-facebook" tooltip='connect with facebook'>
					<i class="icon-facebook"></i>
				</a>
			</div>
		</div>

		<div class="row-fluid" ng-show='credentials.loginType == "login"'>
			<div class="span8">
				<control-group>
				    <input type='password' id='lgn_password' name='password' placeholder='your password' class='input-block-level' ng-model='credentials.password' ui-event='{blur: "login()", keypress: "enterLogin($event)"}' ng-minlength='8' ng-maxlength='100' required></input>
				</control-group>
			</div>

			<div class="span2">
				<div class="ptx"><a href="#" ng-click='forgot()'>forgot?</a></div>
			</div>

			<div class="span1">
				<div class="center ptx">or</div>
			</div>
			<div class="span1">
				<a href="#" ng-click='fbLogin()' class="btn btn-block btn-facebook" tooltip='connect with facebook'>
					<i class="icon-facebook"></i>
				</a>
			</div>
		</div>

	</ng-form>
</div>
