#fb-root

:coffeescript
	fb_root = null #variable use to transfer the state of the fb-root div tag between page requests

	window.facebookSdkLoaded = ->
		$(document).trigger("fb:initialized")

	window.fbAsyncInit = ->
		FB.init
			appId: "#{Facebook::APP_ID}"
			status: true
			cookie: true
			oauth: true
			frictionlessRequests: true
			xfbml: true
		window.facebookSdkLoaded()

	((d) ->
		js = undefined
		id = "facebook-jssdk"
		return  if d.getElementById(id)
		js = d.createElement("script")
		js.id = id
		js.async = true
		js.src = "//connect.facebook.net/en_US/all.js"
		d.getElementsByTagName("head")[0].appendChild js
	) document
