#fb-root

:javascript
	var fb_root;

	fb_root = null;

	window.facebookSdkLoaded = function() {
		return $(document).trigger("fb:initialized");
	};

	window.fbAsyncInit = function() {
		FB.init({
			appId: "#{Facebook::APP_ID}",
			status: true,
			cookie: true,
			oauth: true,
			frictionlessRequests: true,
			xfbml: true
		});
		return window.facebookSdkLoaded();
	};

	(function(d) {
		var id, js;
		js = void 0;
		id = "facebook-jssdk";
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement("script");
		js.id = id;
		js.async = true;
		js.src = "//connect.facebook.net/en_US/all.js";
		return d.getElementsByTagName("head")[0].appendChild(js);
	})(document);
