= javascript_include_tag "application"

-# Twitter widgets
	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-# Add This Widget
-# <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517b28810bfc2b62"></script>

-# Twitter Widget
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

-# Tumblr Widget THIS DONT WORK FIX IT!!!! :(
<script src="http://platform.tumblr.com/v1/share.js"></script>

= yield :javascripts
