= javascript_include_tag "application"

-# Twitter widgets
:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
-# Twitter Widget
-# <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

-# Add This Widget
-# <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517b28810bfc2b62"></script>


-# Tumblr Widget THIS DONT WORK FIX IT!!!! :(
-# <script src="http://platform.tumblr.com/v1/share.js"></script>

-# Google +
:javascript
	(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
-# Google +
-# <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

-# Load Typekit fallback fonts
:javascript
	(function() {
		var config = {
			kitId: 'gne7eyn',
			scriptTimeout: 3000
		};
		var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
	})();

= yield :javascripts
