!!! 5
- html_tag "ng-app" => "ps", :class => "no-js", :lang => "en", :"xmlns:fb" => "http://ogp.me/ns/fb#" do
	= render "head"

	%body{ "ng-controller" => "AppCtrl" }

		#wrapper
			#loading{"ng-include" => "app.templates.loading.url"}
				= image_tag 'loading.gif'
			%header#header{"ng-class" => "app.templates.header.classes", "ng-include" => "app.templates.header.url"}
			#main{ :role => "main" }
				#flash{"ng-include" => "app.templates.flash.url"}
				#yielded{"ng-view"=>true}

			#layout_footer
		%footer#footer{"ng-include" => "app.templates.footer.url"}
		= render "javascripts"
		= render "facebook"
