!!! 5
- html_tag "ng-app" => "ps", :class => "no-js", :lang => "en", :"xmlns:fb" => "http://ogp.me/ns/fb#" do
	= render "head"

	%body{ "ng-controller" => "AppCtrl" }
		
		#wrapper
			%header#header{"ng-class" => "app.templates.header.classes", "ng-include" => "app.templates.header.url"} tmp
			#main{ :role => "main" }
				#flash{"ng-include" => "app.templates.flash.url"} tmp
				#yielded{"ng-view"=>true}
					tmp

			#layout_footer
		%footer#footer{"ng-include" => "app.templates.footer.url"} tmp
		= render "javascripts"