!!! 5
- html_tag "ng-controller" => "AppCtrl", :class => "no-js", :lang => "en", :"xmlns:fb" => "http://ogp.me/ns/fb#" do
	= render "head"

	%body{ "ng-class" => "{focus: app.show.focus}" }

		-# TODO: enable pjax
		= yield

		= render "javascripts"
		= render "facebook"
