<div id='users_reset_password_instructions'>
	<div class="intro">
		Hi
		<%= link_to "#{root_url}#{@resource.slug}" do %>
			<span class="username">
				<span class="at">@</span><%= @resource.username %>
			</span>
		<% end %>
	</div>

	<div class="greeting">
		<div class="top">RESET YOUR</div>
		<div class="middle"><del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del>&nbsp;&nbsp;&nbsp;&nbsp;Positive Space&nbsp;&nbsp;&nbsp;&nbsp;<del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del></div>
		<div class="bottom">PASSWORD</div>
	</div>

	<div class='body'>
		Someone has requested a link to change your password, and you can do this through the link below.
		<br/>
		<br/>
		If you didn't request this, please ignore this email.
		<br/>
		<br/>
		Your password won't change until you access the link below and create a new one.
	</div>

	<div class='link'>
		<%= link_to 'Change my password', "#{root_url}users/password/edit?reset_password_token=#{@resource.reset_password_token}", :class => 'btn btn-success' %>
	</div>
</div>
